@import "compass";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100);


html{
	margin:0px;
}

//////////////////////////////////////////////this is Hotel Founder Top Header////////////////////////////////////////

#hotelFounder_headerText{
  font-family: 'karbon-medium', sans-serif;
  font-size: 18px; 
}
.hotelFounder_headerText_{
  margin-right: 18px;
    margin-left: 8px;

}
.hotelFounder_headerText__{
  
    margin-left: 8px;

}
.navbar-nav>li>a {
  
  padding-bottom: 13px;
}
.hotelFounder_headerUl{
  width: 470px;
  margin-left: 43px;
}
#homebutton{
  background-color:#007caf;
  height: 100%;
}

.hotelFounder_LoginAndRegister{
  position: absolute;
  top:0px;
  left: 1000px;
  padding:5px;
  height: 48px;
}
#hotelFounder_headerBottomLine { 
    display: block;
    margin-top: 3em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
#hotelFounder_LoginAndRegister{
  a{
     font-family: 'karbon-medium', sans-serif;
  font-size: 15px;
  }

}


////////////////////////////////////////////////top Header End/////////////////////////////////////////////////////////
//-------------------------------------------------------------------------------------------------------------------//
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////this is style of SpriteImage/////////////////////////////////////////////
.hotelFounder_googleIcon{
  background-image:url('../img/icons.png');
  background-position:0 -85px;
  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;

}
.hotelFounder_twitterIcon{
  background-image:url('../img/icons.png');
  background-position:0 -112px;

  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;
}
.hotelFounder_facebookIcon{
  background-image:url('../img/icons.png');
  background-position:0 -31px;
  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;
}
.hotelFounder_feedIcon{
  background-image:url('../img/icons.png');
  background-position:0 -58px;
  background-repeat:no-repeat;
  width:27px;
  display: inline-block;
  height:27px;
}
.hotelFounder_emailImageIcon:before{
  background-image:url('../img/icons.png');
  background-position:0 6px;
  background-repeat:no-repeat;
  width:18px;
  height:18px;
  display: inline-block;
  content: "";
 

}
.hotelFounder_phoneImage:before{
  background-image:url('../img/icons.png');
  background-position:0 -13px;
  background-repeat:no-repeat;
  width:20px;
  height:18px;
  display: inline-block;
  content: "";
}
.hotelFounder_socialIcons{
  padding-right:0px;
  float: right;

}
////////////////////////////////////////////this is  style of SpriteImage  end/////////////////////////////////////



//----------------------------------------------------------------------------------------------------------------//



//////////////////////////////////////this is Hotel FounderLogo,Other Images & container/////////////////////////////////
#hotelFounder_headerContainer{
  height: 90px;
}
.hotelFounder_LogoImages_OtherImages{
  margin: 10px;
}

.hotel_Founder_Logo{
 
}
.hotelFounder_phoneImage{
  display: inline-block;
  margin-left: 80px;
}
.hotelFounder_emailImageIcon{
  display: inline-block;
}
#hotelFounder_ulList,{
  margin-top: 30px;
  width: 450px;

}
#hotelFounder_socialSpriteImage{
  margin-top: 30px;
  margin-right: 0px;
  float: right;
 
}
#hotelFounder_phoneNumberText{
  font-family: 'karbon-medium', sans-serif;
  font-size: 18px;
}
#hotelFounder_emailText{
  font-family: 'karbon-medium', sans-serif;
  font-size: 18px;
}

////////////////////////////////////////////End of  Hotel FounderLogo,Other Images & container/////////////////////////////////////

//----------------------------------------------------------------------------------------------------------------//




/////////////////////////////////////////////this is style of nav bar/////////////////////////////////////////////
.navbar-inverse {
    background-color: #00a3e7;
    height: 43px;
}
.navbar{
	border:#00a3e7 ;
	margin-bottom: 0px;
}

.collapse navbar-collapse{
	.nav navbar-nav{
		position:absolute;
		
		left: 250px;
	}
}
.collapse navbar-collaps{
	.nav navbar-nav{
		.about{
			color: white;

		}
	}
}

.navbar-collapse {

	.navbar-nav li a{
		color:white;
      font-family: 'Raleway', sans-serif;

	}
}

.container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-left: 285px;
}
.navbar-header{
	
	border-color:white;
}


/////////////////////////////////////////////End Hotel Founder nav bar style/////////////////////////////////////////////
//----------------------------------------------------------------------------------------------------------------//

/////////////////////////////////////////////this is style of Slider/////////////////////////////////////////////
.slides {
    padding: 0;
    width: 100%;
    height: 420px;
    display: block;
    position: relative;
}



.slides input { 
	display: none; 
}

.slide-container { 
	display: block; 
}

.slide {
    top: 0;
    opacity: 0;
    width: 1370px;
    height: 500px;
    display: block;
    position: absolute;
    padding:0px;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide:hover + .nav label { 
    opacity: 0.5;  
}

.nav label:hover {
    opacity: 1;
}
.nav .next { 
    right: 0; 
}

input:checked + .slide-container{
  .slide {
      opacity: 1;
      transform: scale(1);
      transition: opacity 1s ease-in-out;
    }
}

input:checked + .slide-container {
  .nav label { 
      display: block; 
  }
}


.navbar-nav {
margin: left ;
}
.nav-dots {
  & {
      top: -5px;
      width: 11px;
      height: 11px;
      margin: 0 4px;
      position: relative;
      border-radius: 100%;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.6);
    }
}

.nav-dots {
  &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.8);
  }
}
.navbar-collapse{
  .nav navbar > li > a {
      float: none;
      line-height: 19px;
      padding: 9px 10px 11px;
      text-decoration: none;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      color:  white;
    }
}
.nav nav-tabs{
  position:absolute;
  left:500px;
  background-color: 3c83bf;
   float:center;
   list-style:none;
  display:inline;
  margin:0px;
  padding:0px;
}
.nav nav-tabs > li{
  
}


#home{
  width: 100%;
  height: 180px;
  
}
.tab-content{
  width: 100%;
  position:center;
}


.fImage{
  width:100%;
   height: 250px;
}
.tab-content{
  z-index:100;
  background-color:white;
  color: red;
  position:relative;
  border-radius: 25px;

}
.active a{
  background-color:white;
}
.fill{
 height:0px;
}

.fade.in {
opacity: 10;
color:black;
}
.text{
   margin: 5px;
   padding-left:23px;
   padding-top:50px;
   position:relative;
}
#textOnImage{
  position:absolute;
  top: 420px;
  z-index: 2;
  color:white;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 82px;
  margin-left: 347px;
  margin-bottom: 200px;
  margin-top: 72px;
}
#textOnImageSmall{
  position:absolute;
  left: 900px;
  top: 510px;
  z-index: 2;
  color:white;
  font-family: 'Raleway', sans-serif;
   font-weight: 100;
  font-size: 18px;
  margin-left: 140px;
  margin-top: 72px;


}
.slide{
  width:100%;
}
.nav{
    margin-left: 51px;



}
.nav-tabs > li.active > a {
  background-color: #00a8ff;
  border-color: #00a8ff;
  border-radius: 15px 15px 0 0;
}
#hotelFounder_tabs {
  border-radius: 15px 15px 0 0;
  background-color: #abcbe6;
}


/////////////////////////////////////////////End style of Slider/////////////////////////////////////////////


//----------------------------------------------------------------------------------------------------------------//


/////////////////////////////////////////////this is style of Nav-Tab and Form/////////////////////////////////////////////

.hotelFounder_packagesImage{
  width: 371px;
  height: 145px;
}

#hotelFounder_welcomeButton{
  margin-left: 385px;
  margin-top: 0px;
  width: 94px;
  border-color:00a8ff;
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  height: 32px;
  border-radius:1px;
  margin-bottom:96px;

}

#hotelFounder_bookingSubmitButton{
   margin-top: 42px;
   background-color:017acc;
   height:39px;
   width:100px;
}
#hotelFounder_bookingSubmitButton,#buttonFont{
  color: white;
  
}


.hotelFounder_detailTable{
  width:260px;
}

.hotelFounder_detailTable :hover{
    text-decoration: none;
    color: #838383;
}
.hotelFounder_detailTable,a {  
  color  : #838383;
}

#hotelFounder_cityNameField{
   background-image: url("../img/location-gray.png");
   background-repeat: no-repeat ;
   background-position: 10px 5px;
   padding-left:30px;
   margin-right:44px;
   margin-left: 0px;
   width: 340px;
 }
 #hotelFounder_cityNameField:focus{
   background-image: url("");
}
#hotelFounder_checkInField{
  background-image: url("../img/calendar-gray.png");
   background-repeat: no-repeat ;
   background-position: 10px 5px;
   padding-left:40px;
   margin-right:27px;
   width: 146px;
}
#hotelFounder_checkOutField{
  background-image: url("../img/calendar-gray.png");
   background-repeat: no-repeat ;
   background-position: 10px 5px;
   padding-left:40px;
   margin-right:40px;
   width: 146px;
}
#hotelFounder_roomField{
  background-image: url("../img/bed-gray.png");
   background-repeat: no-repeat ;
   background-position: 10px 5px;
   padding-left:40px;
   margin-right:28px;
   width: 104px;
}
#hotelFounder_noOfAdultsField{
  background-image: url("../img/user-gray.png");
   background-repeat: no-repeat ;
   background-position: 10px 5px;
   padding-left:40px;
   margin-right:10px;
   width: 104px;
}
#hotelFounder_welcomeNote{
  width:474px; 
  margin-right:27px;
  padding-right:0px;
  padding-left:0px;
}
#hotelFounder_welcomeNote,p{
 font-family: 'karbon', sans-serif;
  font-size: 15px;
  color: 838383;
}

#hotelFounder_quickLinks{
  margin: 0px;
  width: 240px;


}

#hotelFounder_packageDetail{
  width: 371px;
  margin-right:27px;
  padding: 0px;
}
#hotelFounder_welcomeNote,#colorText{
  color: 007ec8;
  font-family: 'karbon', sans-serif;
  font-size: 15px;
}
#colorText{
  color: 007ec8;
  font-family: 'karbon', sans-serif;
  font-size: 15px;
}
#hotelFounderFirstParaText{
  font-family: 'karbon-medium', sans-serif;
  font-size: 15px;
}

#hotelFounder_homeFormLable{
  font-family: 'karbon', sans-serif;
  font-size: 18px;
  color: #858585;
}

#buttonText{
  color: black;
}


/////////////////////////////////////////////End of Nav-Tab///////////////////////////////////////////////////////

//----------------------------------------------------------------------------------------------------------------//

/////////////////////////////////////////////this is Hotel Founder fotter//////////////////////////////////////////



.hotelFounder_logoSmall{
  z-index: 2;
  margin-left:480px;
  margin-top: 55px;
 
  
}

.HotelFounder_fotterText{
  z-index: 2;
  font-family: 'karbon', sans-serif;
  color: white;
  font-size: 42px;
  margin: 0 auto;
  margin-left: 221px;
  margin-top: 23px;
  padding:0px;
  height:  27px;

}
.hotelFounder_fotterImage{
  background-image:url("../img/image-blue.jpg"); 
   background-repeat: no-repeat ;
   background-size: 100% 100%;
}

.HotelFounder_fotterTextSmall{
  margin-left: 250px;
  z-index: 2;
  font-family: 'karbon', sans-serif;
  color: white;
  font-size: 14px;
  margin-top: 18px;
}
.hotelFounder_FotterTextContent{
  margin: 0 auto;
  

}
#hotelFounderFirstParaText{
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  text-align: justify;
}
.fotterTextSmallSecond{
  z-index: 2;
  font-family: 'karbon', sans-serif;
  color: white;
  font-size: 14px;
  margin-left: 351px;
  height: 8px;
  margin-bottom: 24px;
}
.explorerButton{
  margin-left: 455px;
  margin-bottom: 26px;
 
 
}
#exButton{
   color: white;
}
#button2{
  border-color:white;
  background-color:#1a5083;
  height: 40px;
  width: 200px;
   filter: alpha(opacity=60); 
  border-color:white;
}

/////////////////////////////////////////////End HotelFounder fotter/////////////////////////////////////////////

///----------------------------------------------------------------------------------------------------------///


/////////////////////////////////////////////Hotel Founder Other logos/////////////////////////////////////////////






#button{
  position:absolute;
  left: 200px;
  top: 40px;
  z-index: 2;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 14px;
}
#hotelFounder_hilton{
  margin-right: 79px;
  padding-left:0px;
  width: 110px;
  position: center;
}
#hotelFounder_marina,#hotelFounder_travelInn,#hotelFounder_slipway,#hotelFounder_ings,#hotelFounder_taj{
  margin-right: 79px;
  width: 110px;

}

#hilton,#taj,#marina,#travelInn,#slipWay,#ings{
  position:relative;
  padding-left:40px;
  padding-top:70px;
}


#fonts,#whiteFont{
  padding-top:70px;
   z-index: 2;
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  color: white;
}

.phoneNumber{
  font-family: 'karbon-medium',sans-serif; 
  font-size: 18px;
  padding: center;
}

///////////////////////////////////////////////////////This is hotelFounder description//////////////////////////////


///////Hotel Founder small Image Slider Style//////////////////////////////

.hotelFounder_arrowKeySliderLeft{
  background-image:url('../img/iconsArrowKey.png');
  background-position:0 0px;
  background-repeat:no-repeat;
  width:11px;
  height:17px;
  display: inline-block;
}
.hotelFounder_arrowKeySliderRight{
  background-image:url('../img/iconsArrowKey.png');
  background-position:0 -17px;
  background-repeat:no-repeat;
  width:10px;
  height:16px;
  display: inline-block;
}
#hotelFounder_packageImageSliderPreviousButton{
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
  color: #ffffff;
  border-color:#d3d3d3;
  box-shadow: none;
  

}

#hotelFounder_quickLinks{
  padding:0px;
}
#hotelFounder_packageImageSliderNextButton{
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  color: #ffffff;
}
#hotelFounder_packageImageSliderPreviousButton{
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  color: #ffffff;
}

.hotelFounderPackageImageSlider{
  float: right;
}

#hotelFounderSlideContainer{
  width:370px;
  height: 142px;
  padding-left:0px;
  border:1px solid gray;
  box-sizing:border-box;
  background: black;  
  margin-top: 23px;
}

.hotelFounderSecondPara{
  margin-top: 21px;
}
.hotelFounderThirdColum{
  margin-top: 23px;

}
.hotelFounder_packagesImage{
  padding-bottom:32px;
}
.slider_wrapper{
  overflow: hidden;
  position:relative;
  padding-left:0px;
  height:280px;
  top:auto;
  width:370px;
  height: 142px;
}
#hotelFounder_image_slider{

  position: relative;
  height: auto;
  list-style: none;
  overflow: hidden;
  float: left;
  padding:0px;
  margin:0px;
  width:370px;
  height: 142px;
}
#hotelFounder_image_slider li{
  position: relative;
  float: left;
  width:370px;
  height: 142px;
}
.hotelFounder_packageImageSliderPreviousButton{
  
  opacity: 0.6;
}
.hotelFounder_packageImageSliderPreviousButton:hover{
  opacity: 0.9;
}
#img{
   width:370px;
   height: 142px;
}
specific{
  margin-top: 23px;
}

///////Hotel Founder small Image Slider Style End//////////////////////////////

.packageHeader{
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  color: black;
  border-bottom:2px solid #838383;  
}
.packageHeader:after{
  content:"";
  width: 70px;
  height: 3px;
  padding:2px;
  background-color:#00a3e7;
  display: block;

}
.hotelFounder_packageHeader{
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  color: black;
  border-bottom:2px solid #838383;
  max-width: 289px;  


}
.hotelFounder_packageHeader:after{
  content:"";
  width: 70px;
  height: 3px;
  padding:2px;
  background-color:#00a3e7;
  display: block;

}
.specific{
  font-family: 'karbon', sans-serif;
  font-size: 18px;
  color:  838383;
}
#welcomeNotePara{
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  text-align: justify;
}

#button4{
  margin-left: 280px;
  margin-top: 0px;
  margin-bottom: 96px;
  width: 94px;
  border-color:00a8ff;
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  height: 32px;
  border-radius:1px;
}
.list-unstyled,a{
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  padding-bottom:5px;
}

#hotelFounder_welcomeNote{
  width: 476px;
}


////////////////////////////////////////////this is style of main fotter/////////////////////////////////////////////




.hotelFounder_describeAboutUs:after{
  content:"";
  width: 70px;
  height: 1px;
  padding:2px;
  background-color:#00aeef;
  display: block;
}
.hotelFounder_describeAboutUs{
  border-bottom:2px solid #959595;
}
.hotelFounder_newsLetters:after{
  content:"";
  width: 70px;
  height: 3px;
  padding:1px;
  background-color:#00aeef;
  display: block;
}
.hotelFounder_newsLetters{
  border-bottom:2px solid #959595;
}
.contactUs:after{
  content:"";
  width: 70px;
  height: 2px;
  padding:2px;
  background-color:#00aeef;
  display: block;
}
.contactUs{
  border-bottom:2px solid #959595;
}
#hotelFounder_signUpField{
  width: 157px;

}
#hotelFounder_signUpButton{
  width: 72px;
  background-color: 00aeef;
  border-color:00aeef;
}
#hotelFounder_quickLinksColum{
  width: 170px;
  margin-right: 53px;
  padding:0px;
}
#hotelFounder_fotterQuickLinks{
  width: 170px;
  margin-right: 53px;
  padding:0px;
}
#hotelFounder_aboutUsColum{
  width: 200px;
  margin-right: 52px;
  padding:0px;
}
#hotelFounder_contactUsColum{
  width: 206px;
  margin-right: 53px;
  padding:0px;
}
#hotelFounder_newsLetterColum{
  width: 236px;
  margin-right: 43px;
  padding:0px;
}
#hotelFounder_socialMediaColum{
  width:155px; 
  padding:0px;
}

#bn{
  width:295px;

}
.hotelFounder_describecontactUs:after{
  content:"";
  width: 70px;
  height: 3px;
  padding:2px;
  background-color:#00aeef;
  display: block;
}
.hotelFounder_describecontactUs{
  border-bottom:2px solid #959595;
}

.hotelFounder_socialIconsSecond{
  padding-right:0px;
  padding-top:5px;
  float: left;
}
.HotelFounderLogosmalll{
  padding-top:10px;
}

#colum{
  width: 1100px;
}



.HotelFounder_Mainfotter{
 
  height: 435px;
  background-color:#263441;
}
.hotelFounder_fotterQuickLinks:after{
  content:"";
  width: 73px;
  height: 3px;
  padding:2px;
  background-color:#00aeef;
  display: block;
}


.hotelFounder_fotterQuickLinks{
  border-bottom:2px solid #959595;
}


.text{
  padding-top:0px;
  width: 1170px;
}

.hotelFounder_googleIconGray{
  background-image:url('../img/iconsgray.png');
  background-position:0 -54px;
  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;

}
.hotelFounder_twitterIconGray{
  background-image:url('../img/iconsgray.png');
  background-position:0 -81px;
  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;
}
.hotelFounder_facebookIconGray{
  background-image:url('../img/iconsgray.png');
  background-position:0 0px;
  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;
}
.hotelFounder_feedIconGray{
  background-image:url('../img/iconsgray.png');
  background-position:0 -27px;
  background-repeat:no-repeat;
  width:27px;
  display: inline-block;
  height:27px;
}

#fonts{

    padding-top: 0;

}



////////////////////////////////////////////this is end of main fotter/////////////////////////////////////////////


//////////////////////////////////////////Hotel Founder About Us Main Image Style /////////////////////////////////////////////

.hotelFounder_aboutUsMainImage{
  background-image:url('../img/aboutUs/featured-image.jpg');
  background-repeat: no-repeat ;
  background-size: 100% 100%;
  height:437px;
}






///////////////////////////////////////////// Main Image Style End ///////////////////////////////////////////////////
//------------------------------------------------------------------------------------------------------------------//




////////////////////////////////////////////// Hotel Founder AboutUs Style/////////////////////////////////////////////


.hotelFounder_aboutUsHeader{
  border-bottom:2px solid #959595;
  font-family: 'karbon-light', sans-serif;
  font-size: 50px;
  text-align: justify;

}
.hotelFounder_aboutUsHeader:after{
   content:"";
  width: 173px;
  height: 1px;
  padding:2px;
  background-color:#00aeef;
  display: block;
}
#hotelFounder_description{
  padding-left:0px;
  padding-right:32px;
  
}
.description,p{
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  text-align: justify;
  margin-top: 0px;
}
#hotelFounder_imageColum{
  width:380px;
  padding:0px;
}
.hotelFounder_image{
  width:380px;
}


//////////////////////////////////////////////// About Us Style End ///////////////////////////////////////////////////
//-------------------------------------------------------------------------------------------------------------------//


/////////////////////////////////////////// This is Hotel Founder Mission Para Style///////////////////////////////////
.hotelFounder_OurMission,p{
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  text-align: justify;
  margin-top: 21px;

}
.hotelFounder_ourMissionHeader{
  margin-top: 81px;
  font-family: 'karbon', sans-serif;
  font-size: 19px;
  border-bottom:2px solid #959595;
}

.hotelFounder_ourMissionHeader:after{
  width: 88px;
  height: 3px;
  font-family: 'karbon', sans-serif;
  font-size: 19px;
  content:"";
  background-color:#00aeef;
  display: block;
}
.hotelFounder_ourVissionHeader{
  margin-top: 81px;
  width: 372px;
  font-family: 'karbon', sans-serif;
  font-size: 19px;
  border-bottom:2px solid #959595;

}
.hotelFounder_ourVissionHeader:after{
  width: 83px;
  height: 3px;
  font-family: 'karbon', sans-serif;
  font-size: 19px;
  content:"";
  background-color:#00aeef;
  display: block;
  
}
.hotelFounder_ourVission,p{
  margin-top: 21px;
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  text-align: justify;

}
.hotelFounder_ourQualitiesHeader{
  margin-top: 81px;
  font-family: 'karbon', sans-serif;
  font-size: 19px;
  border-bottom:2px solid #959595;
}
.hotelFounder_ourQualitiesHeader:after{
  width: 97px;
  height: 3px;
  font-family: 'karbon', sans-serif;
  font-size: 19px;
  content:"";
  background-color:#00aeef;
  display: block;
  
}
.hotelFounder_ourQualities{
 margin-top:21px;
}
.progress{
  height: 28px;
  background-color:#fafafa;
}
.progress-bar {
background-color: #00aeef;
}

#progressText {
margin-top: 5;
  margin-left: 11;
  float: left;
}



#hotelFounder_rowContainer{
  margin-bottom: 89px;
}
#hotelFounder_welcomeNote,p{
 font-family: 'karbon', sans-serif;
  font-size: 15px;
  color: 838383;
}
.list-unstyled,a{
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  color: 838383;
}



//////////////////////////////////////////// Mission Para Style End ///////////////////////////////////////////////////
//-------------------------------------------------------------------------------------------------------------------//


/////////////////////////////////////////// Hotel Founder Packages Page Packages Header////////////////////////////////

.hotelFounder_packagesHeaderPackagePage:after{
  content:"";
  width: 167px;
  height: 1px;
  padding:2px;
  background-color:#00aeef;
  display: block;
}
.hotelFounder_packagesHeaderPackagePage{
  border-bottom:2px solid #959595;
  font-family: 'karbon-light', sans-serif;
  font-size: 50px;
}



////////////////////////////////////////////Hotel Founder packages preview  Style///////////////////////////////////////

#packagePreviewhome{
  width: 100%;
  height: 740px;
  margin-top: 15px;  
}
.nav{
  margin-left: 30px;
}
.nav-tabs > li.active > a{
  background-color:#00a8ff;
  border-color:#00a8ff;
    border-radius: 15px 15px 0 0;
}
.tab-content{
  width: 100%;
  position:center;
  margin-top: -20px;
}
#hotelFounder_tabs{
  border-radius:15px 15px 0 0;
  background-color:#abcbe6;
}


.fImage{
  width:100%;
   height: 250px;
}
.tab-content{
  z-index:100;
  background-color:white;
  color: red;
  position:relative;
  border-radius: 25px;

}

.fill{
 height:0px;
}

.fade.in {
opacity: 10;
color:black;
}
.hotelFounder_PackageImage{
  background-image:url('../img/packagepreview/package-image.jpg');
  background-repeat: no-repeat ;
  background-size: 100% 100%;
  height:367px;
  margin-left: 21px;
  width: 829px;
}
.hotelFounder_packageText{
  margin-left: 21px;
  margin-top: 26px;
  text-align: justify;
  width: 829px;
}

.hotelFounder_detailTable{
  width:260px;
}

.hotelFounder_detailTable :hover{
    text-decoration: none;
    color: #838383;
}
.hotelFounder_detailTable,a {  
  color  : #838383;
}
#hotelFounder_quickLinksPackagePreviewPage{
  margin: 0px;
  width: 275px;
  margin-left: 95px;


}
.packageHeader{
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  color: black;
  border-bottom:2px solid #838383;  
}
.packageHeader:after{
  content:"";
  width: 70px;
  height: 3px;
  padding:2px;
  background-color:#00a3e7;
  display: block;

}
.hotelFounder_mainImagePackagePreviewPage{
  background-image:url('../img/packagepreview/featured-image.jpg');
  background-repeat: no-repeat ;
  background-size: 100% 100%;
  height:437px;
}
#hotelFounder_textOnImage{
  color: #ffffff;
  float: right;
  font-size: 50px;
  font-family: 'karbon-light', sans-serif;
  margin-top: 341px;
  margin-right: 23px;
}


//////////////////////////////////////////// Packages Previews Form Style End////////////////////////////////////////////////


///////////////////////////////////////////Hotel Founder Contact Us Form Style///////////////////////////////////////


.hotelFounder_contactUsHeader{
  border-bottom:2px solid #959595;
  font-family: 'karbon-light', sans-serif;
  font-size: 50px;
  text-align: justify;

}
.hotelFounder_contactUsHeader:after{
   content:"";
  width: 203px;
  height: 1px;
  padding:2px;
  background-color:#00aeef;
  display: block;
}

#hotelFounder_nameField,#hotelFounder_subjectField{
  margin-bottom: 10px;
  width: 369px;
  height: 29px;
  background-color:#ececec;


}
#hotelFounder_nameField{
  margin-right: 34px;
}

#hotelFounder_contactUsTextArea{
  background-color:#ececec;
  width: 100%;
  height: 155px;
}
#hotelFounder_contactUsSubmitButton{
  width: 94px;
 
  margin-top: 20px;
  float: right;
  background-color:#00aeef;
  margin-bottom: 47px;

}
#hotelFounder_name{
 // border-bottom:2px solid #959595;
 // font-family: 'karbon-light', sans-serif;
  //font-size: 50px;
}
#hotelFounder_lable{
  font-family: 'karbon', sans-serif;
  font-size: 15px;
   margin-bottom: 0px;

}
#hotelFounder_secondColumphoneNumberText{
  padding-left: 50px;
  font-family: 'karbon', sans-serif;
  font-size: 15px;
}



/////////////SpriteImage/////////////

.hotelFounder_SecondColume{
  padding: 0;
}

.hotelFounder_contactUsSripteImage:after{
   content:"";
  width: 2px;
  height: 95px;
  padding:2px;
  position: absolute;
  left: 90px;
  top: 30px;
  background-color:#f2f2f2;
  display: block;

}

.hotelFounder_phoneImage1{
  background-image:url('../img/imageSprit.png');
  background-position:0 -36px;
  background-repeat:no-repeat;
  width:280px;
  margin-top: 29px;
  height:18px;
  display: block;

}
.hotelFounder_phoneImage1:after{
   content:"";
  width: 5px;
  height: 12px;
  padding:2px;
  margin-left: 330px;
  margin-top: -15px;
  background-color:#00aeef;
  display: block;

}
.hotelFounder_mailImage:after{
   content:"";
  width: 5px;
  height: 12px;
  padding:2px;
  margin-left: 330px;
  margin-top: -17px;
  background-color:#00aeef;
  display: block;

}
#para{
  padding-top:0px;
}
.hotelFounder_locationImage:after{
   content:"";
  width: 5px;
  height: 12px;
  padding:2px;
  margin-left: 330px;
  margin-top: -17px;
  background-color:#00aeef;
  display: block;

}
.hotelFounder_mailImage{
  background-image:url('../img/imageSprit.png');
  background-position:0 -23px;
  background-repeat:no-repeat;
  width:260px;
  height:13px;
  margin-bottom: 5px;
  display: block;
}
.hotelFounder_locationImage{
  background-image:url('../img/imageSprit.png');
  background-position:0 0px;
  background-repeat:no-repeat;
  width:350px;
  height:23px;
  display: block;
}
#hotelFounder_secondColumphoneNumberText{
  padding-left: 50px;
  font-family: 'karbon', sans-serif;
  font-size: 15px;
}

///////////////End Sprite Image///////////////////

//////////////////////////////////////////// Contact Us Form Style End////////////////////////////////////////////////



@font-face {
  font-family: 'karbon-medium';
  src: url('../fonts/Karbon medium/karbon-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Karbon medium/karbon-medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Karbon medium/karbon-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Karbon medium/karbon-medium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'karbon';
  src: url('../fonts/karbon/karbon-regular-webfont.eot'); /* IE9 Compat Modes */
    src:  url('../fonts/karbon/karbon-regular-webfont.woff'); 
}
@font-face {
  font-family: 'karbon-light';
     src: url('../fonts/karbon/karbon-light0.eot'); 
    src:  url('../fonts/karbon-light/karbon-light0.woff');
    }
