@import url(http://fonts.googleapis.com/css?family=Raleway:400,100);
/* line 5, index.scss */
html {
  margin: 0px;
}

/* line 11, index.scss */
#hotelFounder_headerText {
  font-family: 'karbon-medium', sans-serif;
  font-size: 18px;
}

/* line 15, index.scss */
.hotelFounder_headerText_ {
  margin-right: 18px;
  margin-left: 8px;
}

/* line 20, index.scss */
.hotelFounder_headerText__ {
  margin-left: 8px;
}

/* line 25, index.scss */
.navbar-nav > li > a {
  padding-bottom: 13px;
}

/* line 29, index.scss */
.hotelFounder_headerUl {
  width: 470px;
  margin-left: 43px;
}

/* line 33, index.scss */
#homebutton {
  background-color: #007caf;
  height: 100%;
}

/* line 38, index.scss */
.hotelFounder_LoginAndRegister {
  position: absolute;
  top: 0px;
  left: 1000px;
  padding: 5px;
  height: 48px;
}

/* line 45, index.scss */
#hotelFounder_headerBottomLine {
  display: block;
  margin-top: 3em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

/* line 55, index.scss */
#hotelFounder_LoginAndRegister a {
  font-family: 'karbon-medium', sans-serif;
  font-size: 15px;
}

/* line 67, index.scss */
.hotelFounder_googleIcon {
  background-image: url("../img/icons.png");
  background-position: 0 -85px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  display: inline-block;
}

/* line 76, index.scss */
.hotelFounder_twitterIcon {
  background-image: url("../img/icons.png");
  background-position: 0 -112px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  display: inline-block;
}

/* line 85, index.scss */
.hotelFounder_facebookIcon {
  background-image: url("../img/icons.png");
  background-position: 0 -31px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  display: inline-block;
}

/* line 93, index.scss */
.hotelFounder_feedIcon {
  background-image: url("../img/icons.png");
  background-position: 0 -58px;
  background-repeat: no-repeat;
  width: 27px;
  display: inline-block;
  height: 27px;
}

/* line 101, index.scss */
.hotelFounder_emailImageIcon:before {
  background-image: url("../img/icons.png");
  background-position: 0 6px;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
  content: "";
}

/* line 112, index.scss */
.hotelFounder_phoneImage:before {
  background-image: url("../img/icons.png");
  background-position: 0 -13px;
  background-repeat: no-repeat;
  width: 20px;
  height: 18px;
  display: inline-block;
  content: "";
}

/* line 121, index.scss */
.hotelFounder_socialIcons {
  padding-right: 0px;
  float: right;
}

/* line 135, index.scss */
#hotelFounder_headerContainer {
  height: 90px;
}

/* line 138, index.scss */
.hotelFounder_LogoImages_OtherImages {
  margin: 10px;
}

/* line 145, index.scss */
.hotelFounder_phoneImage {
  display: inline-block;
  margin-left: 80px;
}

/* line 149, index.scss */
.hotelFounder_emailImageIcon {
  display: inline-block;
}

/* line 152, index.scss */
#hotelFounder_ulList {
  margin-top: 30px;
  width: 450px;
}

/* line 157, index.scss */
#hotelFounder_socialSpriteImage {
  margin-top: 30px;
  margin-right: 0px;
  float: right;
}

/* line 163, index.scss */
#hotelFounder_phoneNumberText {
  font-family: 'karbon-medium', sans-serif;
  font-size: 18px;
}

/* line 167, index.scss */
#hotelFounder_emailText {
  font-family: 'karbon-medium', sans-serif;
  font-size: 18px;
}

/* line 180, index.scss */
.navbar-inverse {
  background-color: #00a3e7;
  height: 43px;
}

/* line 184, index.scss */
.navbar {
  border: #00a3e7;
  margin-bottom: 0px;
}

/* line 190, index.scss */
.collapse navbar-collapse .nav navbar-nav {
  position: absolute;
  left: 250px;
}

/* line 198, index.scss */
.collapse navbar-collaps .nav navbar-nav .about {
  color: white;
}

/* line 207, index.scss */
.navbar-collapse .navbar-nav li a {
  color: white;
  font-family: 'Raleway', sans-serif;
}

/* line 214, index.scss */
.container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-left: 285px;
}

/* line 217, index.scss */
.navbar-header {
  border-color: white;
}

/* line 227, index.scss */
.slides {
  padding: 0;
  width: 100%;
  height: 420px;
  display: block;
  position: relative;
}

/* line 237, index.scss */
.slides input {
  display: none;
}

/* line 241, index.scss */
.slide-container {
  display: block;
}

/* line 245, index.scss */
.slide {
  top: 0;
  opacity: 0;
  width: 1370px;
  height: 500px;
  display: block;
  position: absolute;
  padding: 0px;
  transform: scale(0);
  transition: all .7s ease-in-out;
}

/* line 257, index.scss */
.slide img {
  width: 100%;
  height: 100%;
}

/* line 262, index.scss */
.slide:hover + .nav label {
  opacity: 0.5;
}

/* line 266, index.scss */
.nav label:hover {
  opacity: 1;
}

/* line 269, index.scss */
.nav .next {
  right: 0;
}

/* line 274, index.scss */
input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

/* line 282, index.scss */
input:checked + .slide-container .nav label {
  display: block;
}

/* line 288, index.scss */
.navbar-nav {
  margin: left;
}

/* line 292, index.scss */
.nav-dots {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 305, index.scss */
.nav-dots:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 311, index.scss */
.navbar-collapse .nav navbar > li > a {
  float: none;
  line-height: 19px;
  padding: 9px 10px 11px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
}

/* line 320, index.scss */
.nav nav-tabs {
  position: absolute;
  left: 500px;
  background-color: 3c83bf;
  float: center;
  list-style: none;
  display: inline;
  margin: 0px;
  padding: 0px;
}

/* line 335, index.scss */
#home {
  width: 100%;
  height: 180px;
}

/* line 340, index.scss */
.tab-content {
  width: 100%;
  position: center;
}

/* line 346, index.scss */
.fImage {
  width: 100%;
  height: 250px;
}

/* line 350, index.scss */
.tab-content {
  z-index: 100;
  background-color: white;
  color: red;
  position: relative;
  border-radius: 25px;
}

/* line 358, index.scss */
.active a {
  background-color: white;
}

/* line 361, index.scss */
.fill {
  height: 0px;
}

/* line 365, index.scss */
.fade.in {
  opacity: 10;
  color: black;
}

/* line 369, index.scss */
.text {
  margin: 5px;
  padding-left: 23px;
  padding-top: 50px;
  position: relative;
}

/* line 375, index.scss */
#textOnImage {
  position: absolute;
  top: 420px;
  z-index: 2;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 82px;
  margin-left: 347px;
  margin-bottom: 200px;
  margin-top: 72px;
}

/* line 387, index.scss */
#textOnImageSmall {
  position: absolute;
  left: 900px;
  top: 510px;
  z-index: 2;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin-left: 140px;
  margin-top: 72px;
}

/* line 401, index.scss */
.slide {
  width: 100%;
}

/* line 404, index.scss */
.nav {
  margin-left: 51px;
}

/* line 410, index.scss */
.nav-tabs > li.active > a {
  background-color: #00a8ff;
  border-color: #00a8ff;
  border-radius: 15px 15px 0 0;
}

/* line 415, index.scss */
#hotelFounder_tabs {
  border-radius: 15px 15px 0 0;
  background-color: #abcbe6;
}

/* line 429, index.scss */
.hotelFounder_packagesImage {
  width: 371px;
  height: 145px;
}

/* line 434, index.scss */
#hotelFounder_welcomeButton {
  margin-left: 385px;
  margin-top: 0px;
  width: 94px;
  border-color: 00a8ff;
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  height: 32px;
  border-radius: 1px;
  margin-bottom: 96px;
}

/* line 447, index.scss */
#hotelFounder_bookingSubmitButton {
  margin-top: 42px;
  background-color: 017acc;
  height: 39px;
  width: 100px;
}

/* line 453, index.scss */
#hotelFounder_bookingSubmitButton, #buttonFont {
  color: white;
}

/* line 459, index.scss */
.hotelFounder_detailTable {
  width: 260px;
}

/* line 463, index.scss */
.hotelFounder_detailTable :hover {
  text-decoration: none;
  color: #838383;
}

/* line 467, index.scss */
.hotelFounder_detailTable, a {
  color: #838383;
}

/* line 471, index.scss */
#hotelFounder_cityNameField {
  background-image: url("../img/location-gray.png");
  background-repeat: no-repeat;
  background-position: 10px 5px;
  padding-left: 30px;
  margin-right: 44px;
  margin-left: 0px;
  width: 340px;
}

/* line 480, index.scss */
#hotelFounder_cityNameField:focus {
  background-image: url("");
}

/* line 483, index.scss */
#hotelFounder_checkInField {
  background-image: url("../img/calendar-gray.png");
  background-repeat: no-repeat;
  background-position: 10px 5px;
  padding-left: 40px;
  margin-right: 27px;
  width: 146px;
}

/* line 491, index.scss */
#hotelFounder_checkOutField {
  background-image: url("../img/calendar-gray.png");
  background-repeat: no-repeat;
  background-position: 10px 5px;
  padding-left: 40px;
  margin-right: 40px;
  width: 146px;
}

/* line 499, index.scss */
#hotelFounder_roomField {
  background-image: url("../img/bed-gray.png");
  background-repeat: no-repeat;
  background-position: 10px 5px;
  padding-left: 40px;
  margin-right: 28px;
  width: 104px;
}

/* line 507, index.scss */
#hotelFounder_noOfAdultsField {
  background-image: url("../img/user-gray.png");
  background-repeat: no-repeat;
  background-position: 10px 5px;
  padding-left: 40px;
  margin-right: 10px;
  width: 104px;
}

/* line 515, index.scss */
#hotelFounder_welcomeNote {
  width: 474px;
  margin-right: 27px;
  padding-right: 0px;
  padding-left: 0px;
}

/* line 521, index.scss */
#hotelFounder_welcomeNote, p {
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  color: 838383;
}

/* line 527, index.scss */
#hotelFounder_quickLinks {
  margin: 0px;
  width: 240px;
}

/* line 534, index.scss */
#hotelFounder_packageDetail {
  width: 371px;
  margin-right: 27px;
  padding: 0px;
}

/* line 539, index.scss */
#hotelFounder_welcomeNote, #colorText {
  color: 007ec8;
  font-family: 'karbon', sans-serif;
  font-size: 15px;
}

/* line 544, index.scss */
#colorText {
  color: 007ec8;
  font-family: 'karbon', sans-serif;
  font-size: 15px;
}

/* line 549, index.scss */
#hotelFounderFirstParaText {
  font-family: 'karbon-medium', sans-serif;
  font-size: 15px;
}

/* line 554, index.scss */
#hotelFounder_homeFormLable {
  font-family: 'karbon', sans-serif;
  font-size: 18px;
  color: #858585;
}

/* line 560, index.scss */
#buttonText {
  color: black;
}

/* line 573, index.scss */
.hotelFounder_logoSmall {
  z-index: 2;
  margin-left: 480px;
  margin-top: 55px;
}

/* line 581, index.scss */
.HotelFounder_fotterText {
  z-index: 2;
  font-family: 'karbon', sans-serif;
  color: white;
  font-size: 42px;
  margin: 0 auto;
  margin-left: 221px;
  margin-top: 23px;
  padding: 0px;
  height: 27px;
}

/* line 593, index.scss */
.hotelFounder_fotterImage {
  background-image: url("../img/image-blue.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 599, index.scss */
.HotelFounder_fotterTextSmall {
  margin-left: 250px;
  z-index: 2;
  font-family: 'karbon', sans-serif;
  color: white;
  font-size: 14px;
  margin-top: 18px;
}

/* line 607, index.scss */
.hotelFounder_FotterTextContent {
  margin: 0 auto;
}

/* line 612, index.scss */
#hotelFounderFirstParaText {
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  text-align: justify;
}

/* line 617, index.scss */
.fotterTextSmallSecond {
  z-index: 2;
  font-family: 'karbon', sans-serif;
  color: white;
  font-size: 14px;
  margin-left: 351px;
  height: 8px;
  margin-bottom: 24px;
}

/* line 626, index.scss */
.explorerButton {
  margin-left: 455px;
  margin-bottom: 26px;
}

/* line 632, index.scss */
#exButton {
  color: white;
}

/* line 635, index.scss */
#button2 {
  border-color: white;
  background-color: #1a5083;
  height: 40px;
  width: 200px;
  filter: alpha(opacity=60);
  border-color: white;
}

/* line 656, index.scss */
#button {
  position: absolute;
  left: 200px;
  top: 40px;
  z-index: 2;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 14px;
}

/* line 665, index.scss */
#hotelFounder_hilton {
  margin-right: 79px;
  padding-left: 0px;
  width: 110px;
  position: center;
}

/* line 671, index.scss */
#hotelFounder_marina, #hotelFounder_travelInn, #hotelFounder_slipway, #hotelFounder_ings, #hotelFounder_taj {
  margin-right: 79px;
  width: 110px;
}

/* line 677, index.scss */
#hilton, #taj, #marina, #travelInn, #slipWay, #ings {
  position: relative;
  padding-left: 40px;
  padding-top: 70px;
}

/* line 684, index.scss */
#fonts, #whiteFont {
  padding-top: 70px;
  z-index: 2;
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  color: white;
}

/* line 692, index.scss */
.phoneNumber {
  font-family: 'karbon-medium',sans-serif;
  font-size: 18px;
  padding: center;
}

/* line 703, index.scss */
.hotelFounder_arrowKeySliderLeft {
  background-image: url("../img/iconsArrowKey.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  width: 11px;
  height: 17px;
  display: inline-block;
}

/* line 711, index.scss */
.hotelFounder_arrowKeySliderRight {
  background-image: url("../img/iconsArrowKey.png");
  background-position: 0 -17px;
  background-repeat: no-repeat;
  width: 10px;
  height: 16px;
  display: inline-block;
}

/* line 719, index.scss */
#hotelFounder_packageImageSliderPreviousButton {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #ffffff;
  border-color: #d3d3d3;
  box-shadow: none;
}

/* line 729, index.scss */
#hotelFounder_quickLinks {
  padding: 0px;
}

/* line 732, index.scss */
#hotelFounder_packageImageSliderNextButton {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #ffffff;
}

/* line 737, index.scss */
#hotelFounder_packageImageSliderPreviousButton {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #ffffff;
}

/* line 743, index.scss */
.hotelFounderPackageImageSlider {
  float: right;
}

/* line 747, index.scss */
#hotelFounderSlideContainer {
  width: 370px;
  height: 142px;
  padding-left: 0px;
  border: 1px solid gray;
  box-sizing: border-box;
  background: black;
  margin-top: 23px;
}

/* line 757, index.scss */
.hotelFounderSecondPara {
  margin-top: 21px;
}

/* line 760, index.scss */
.hotelFounderThirdColum {
  margin-top: 23px;
}

/* line 764, index.scss */
.hotelFounder_packagesImage {
  padding-bottom: 32px;
}

/* line 767, index.scss */
.slider_wrapper {
  overflow: hidden;
  position: relative;
  padding-left: 0px;
  height: 280px;
  top: auto;
  width: 370px;
  height: 142px;
}

/* line 776, index.scss */
#hotelFounder_image_slider {
  position: relative;
  height: auto;
  list-style: none;
  overflow: hidden;
  float: left;
  padding: 0px;
  margin: 0px;
  width: 370px;
  height: 142px;
}

/* line 788, index.scss */
#hotelFounder_image_slider li {
  position: relative;
  float: left;
  width: 370px;
  height: 142px;
}

/* line 794, index.scss */
.hotelFounder_packageImageSliderPreviousButton {
  opacity: 0.6;
}

/* line 798, index.scss */
.hotelFounder_packageImageSliderPreviousButton:hover {
  opacity: 0.9;
}

/* line 801, index.scss */
#img {
  width: 370px;
  height: 142px;
}

/* line 805, index.scss */
specific {
  margin-top: 23px;
}

/* line 811, index.scss */
.packageHeader {
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  color: black;
  border-bottom: 2px solid #838383;
}

/* line 817, index.scss */
.packageHeader:after {
  content: "";
  width: 70px;
  height: 3px;
  padding: 2px;
  background-color: #00a3e7;
  display: block;
}

/* line 826, index.scss */
.hotelFounder_packageHeader {
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  color: black;
  border-bottom: 2px solid #838383;
  max-width: 289px;
}

/* line 835, index.scss */
.hotelFounder_packageHeader:after {
  content: "";
  width: 70px;
  height: 3px;
  padding: 2px;
  background-color: #00a3e7;
  display: block;
}

/* line 844, index.scss */
.specific {
  font-family: 'karbon', sans-serif;
  font-size: 18px;
  color: 838383;
}

/* line 849, index.scss */
#welcomeNotePara {
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  text-align: justify;
}

/* line 855, index.scss */
#button4 {
  margin-left: 280px;
  margin-top: 0px;
  margin-bottom: 96px;
  width: 94px;
  border-color: 00a8ff;
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  height: 32px;
  border-radius: 1px;
}

/* line 866, index.scss */
.list-unstyled, a {
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
}

/* line 872, index.scss */
#hotelFounder_welcomeNote {
  width: 476px;
}

/* line 882, index.scss */
.hotelFounder_describeAboutUs:after {
  content: "";
  width: 70px;
  height: 1px;
  padding: 2px;
  background-color: #00aeef;
  display: block;
}

/* line 890, index.scss */
.hotelFounder_describeAboutUs {
  border-bottom: 2px solid #959595;
}

/* line 893, index.scss */
.hotelFounder_newsLetters:after {
  content: "";
  width: 70px;
  height: 3px;
  padding: 1px;
  background-color: #00aeef;
  display: block;
}

/* line 901, index.scss */
.hotelFounder_newsLetters {
  border-bottom: 2px solid #959595;
}

/* line 904, index.scss */
.contactUs:after {
  content: "";
  width: 70px;
  height: 2px;
  padding: 2px;
  background-color: #00aeef;
  display: block;
}

/* line 912, index.scss */
.contactUs {
  border-bottom: 2px solid #959595;
}

/* line 915, index.scss */
#hotelFounder_signUpField {
  width: 157px;
}

/* line 919, index.scss */
#hotelFounder_signUpButton {
  width: 72px;
  background-color: 00aeef;
  border-color: 00aeef;
}

/* line 924, index.scss */
#hotelFounder_quickLinksColum {
  width: 170px;
  margin-right: 53px;
  padding: 0px;
}

/* line 929, index.scss */
#hotelFounder_fotterQuickLinks {
  width: 170px;
  margin-right: 53px;
  padding: 0px;
}

/* line 934, index.scss */
#hotelFounder_aboutUsColum {
  width: 200px;
  margin-right: 52px;
  padding: 0px;
}

/* line 939, index.scss */
#hotelFounder_contactUsColum {
  width: 206px;
  margin-right: 53px;
  padding: 0px;
}

/* line 944, index.scss */
#hotelFounder_newsLetterColum {
  width: 236px;
  margin-right: 43px;
  padding: 0px;
}

/* line 949, index.scss */
#hotelFounder_socialMediaColum {
  width: 155px;
  padding: 0px;
}

/* line 954, index.scss */
#bn {
  width: 295px;
}

/* line 958, index.scss */
.hotelFounder_describecontactUs:after {
  content: "";
  width: 70px;
  height: 3px;
  padding: 2px;
  background-color: #00aeef;
  display: block;
}

/* line 966, index.scss */
.hotelFounder_describecontactUs {
  border-bottom: 2px solid #959595;
}

/* line 970, index.scss */
.hotelFounder_socialIconsSecond {
  padding-right: 0px;
  padding-top: 5px;
  float: left;
}

/* line 975, index.scss */
.HotelFounderLogosmalll {
  padding-top: 10px;
}

/* line 979, index.scss */
#colum {
  width: 1100px;
}

/* line 985, index.scss */
.HotelFounder_Mainfotter {
  height: 435px;
  background-color: #263441;
}

/* line 990, index.scss */
.hotelFounder_fotterQuickLinks:after {
  content: "";
  width: 73px;
  height: 3px;
  padding: 2px;
  background-color: #00aeef;
  display: block;
}

/* line 1000, index.scss */
.hotelFounder_fotterQuickLinks {
  border-bottom: 2px solid #959595;
}

/* line 1005, index.scss */
.text {
  padding-top: 0px;
  width: 1170px;
}

/* line 1010, index.scss */
.hotelFounder_googleIconGray {
  background-image: url("../img/iconsgray.png");
  background-position: 0 -54px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  display: inline-block;
}

/* line 1019, index.scss */
.hotelFounder_twitterIconGray {
  background-image: url("../img/iconsgray.png");
  background-position: 0 -81px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  display: inline-block;
}

/* line 1027, index.scss */
.hotelFounder_facebookIconGray {
  background-image: url("../img/iconsgray.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  display: inline-block;
}

/* line 1035, index.scss */
.hotelFounder_feedIconGray {
  background-image: url("../img/iconsgray.png");
  background-position: 0 -27px;
  background-repeat: no-repeat;
  width: 27px;
  display: inline-block;
  height: 27px;
}

/* line 1044, index.scss */
#fonts {
  padding-top: 0;
}

/* line 1057, index.scss */
.hotelFounder_aboutUsMainImage {
  background-image: url("../img/aboutUs/featured-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 437px;
}

/* line 1078, index.scss */
.hotelFounder_aboutUsHeader {
  border-bottom: 2px solid #959595;
  font-family: 'karbon-light', sans-serif;
  font-size: 50px;
  text-align: justify;
}

/* line 1085, index.scss */
.hotelFounder_aboutUsHeader:after {
  content: "";
  width: 173px;
  height: 1px;
  padding: 2px;
  background-color: #00aeef;
  display: block;
}

/* line 1093, index.scss */
#hotelFounder_description {
  padding-left: 0px;
  padding-right: 32px;
}

/* line 1098, index.scss */
.description, p {
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  text-align: justify;
  margin-top: 0px;
}

/* line 1104, index.scss */
#hotelFounder_imageColum {
  width: 380px;
  padding: 0px;
}

/* line 1108, index.scss */
.hotelFounder_image {
  width: 380px;
}

/* line 1118, index.scss */
.hotelFounder_OurMission, p {
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  text-align: justify;
  margin-top: 21px;
}

/* line 1125, index.scss */
.hotelFounder_ourMissionHeader {
  margin-top: 81px;
  font-family: 'karbon', sans-serif;
  font-size: 19px;
  border-bottom: 2px solid #959595;
}

/* line 1132, index.scss */
.hotelFounder_ourMissionHeader:after {
  width: 88px;
  height: 3px;
  font-family: 'karbon', sans-serif;
  font-size: 19px;
  content: "";
  background-color: #00aeef;
  display: block;
}

/* line 1141, index.scss */
.hotelFounder_ourVissionHeader {
  margin-top: 81px;
  width: 372px;
  font-family: 'karbon', sans-serif;
  font-size: 19px;
  border-bottom: 2px solid #959595;
}

/* line 1149, index.scss */
.hotelFounder_ourVissionHeader:after {
  width: 83px;
  height: 3px;
  font-family: 'karbon', sans-serif;
  font-size: 19px;
  content: "";
  background-color: #00aeef;
  display: block;
}

/* line 1159, index.scss */
.hotelFounder_ourVission, p {
  margin-top: 21px;
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  text-align: justify;
}

/* line 1166, index.scss */
.hotelFounder_ourQualitiesHeader {
  margin-top: 81px;
  font-family: 'karbon', sans-serif;
  font-size: 19px;
  border-bottom: 2px solid #959595;
}

/* line 1172, index.scss */
.hotelFounder_ourQualitiesHeader:after {
  width: 97px;
  height: 3px;
  font-family: 'karbon', sans-serif;
  font-size: 19px;
  content: "";
  background-color: #00aeef;
  display: block;
}

/* line 1182, index.scss */
.hotelFounder_ourQualities {
  margin-top: 21px;
}

/* line 1185, index.scss */
.progress {
  height: 28px;
  background-color: #fafafa;
}

/* line 1189, index.scss */
.progress-bar {
  background-color: #00aeef;
}

/* line 1193, index.scss */
#progressText {
  margin-top: 5;
  margin-left: 11;
  float: left;
}

/* line 1201, index.scss */
#hotelFounder_rowContainer {
  margin-bottom: 89px;
}

/* line 1204, index.scss */
#hotelFounder_welcomeNote, p {
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  color: 838383;
}

/* line 1209, index.scss */
.list-unstyled, a {
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  color: 838383;
}

/* line 1223, index.scss */
.hotelFounder_packagesHeaderPackagePage:after {
  content: "";
  width: 167px;
  height: 1px;
  padding: 2px;
  background-color: #00aeef;
  display: block;
}

/* line 1231, index.scss */
.hotelFounder_packagesHeaderPackagePage {
  border-bottom: 2px solid #959595;
  font-family: 'karbon-light', sans-serif;
  font-size: 50px;
}

/* line 1241, index.scss */
#packagePreviewhome {
  width: 100%;
  height: 740px;
  margin-top: 15px;
}

/* line 1246, index.scss */
.nav {
  margin-left: 30px;
}

/* line 1249, index.scss */
.nav-tabs > li.active > a {
  background-color: #00a8ff;
  border-color: #00a8ff;
  border-radius: 15px 15px 0 0;
}

/* line 1254, index.scss */
.tab-content {
  width: 100%;
  position: center;
  margin-top: -20px;
}

/* line 1259, index.scss */
#hotelFounder_tabs {
  border-radius: 15px 15px 0 0;
  background-color: #abcbe6;
}

/* line 1265, index.scss */
.fImage {
  width: 100%;
  height: 250px;
}

/* line 1269, index.scss */
.tab-content {
  z-index: 100;
  background-color: white;
  color: red;
  position: relative;
  border-radius: 25px;
}

/* line 1278, index.scss */
.fill {
  height: 0px;
}

/* line 1282, index.scss */
.fade.in {
  opacity: 10;
  color: black;
}

/* line 1286, index.scss */
.hotelFounder_PackageImage {
  background-image: url("../img/packagepreview/package-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 367px;
  margin-left: 21px;
  width: 829px;
}

/* line 1294, index.scss */
.hotelFounder_packageText {
  margin-left: 21px;
  margin-top: 26px;
  text-align: justify;
  width: 829px;
}

/* line 1301, index.scss */
.hotelFounder_detailTable {
  width: 260px;
}

/* line 1305, index.scss */
.hotelFounder_detailTable :hover {
  text-decoration: none;
  color: #838383;
}

/* line 1309, index.scss */
.hotelFounder_detailTable, a {
  color: #838383;
}

/* line 1312, index.scss */
#hotelFounder_quickLinksPackagePreviewPage {
  margin: 0px;
  width: 275px;
  margin-left: 95px;
}

/* line 1319, index.scss */
.packageHeader {
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  color: black;
  border-bottom: 2px solid #838383;
}

/* line 1325, index.scss */
.packageHeader:after {
  content: "";
  width: 70px;
  height: 3px;
  padding: 2px;
  background-color: #00a3e7;
  display: block;
}

/* line 1334, index.scss */
.hotelFounder_mainImagePackagePreviewPage {
  background-image: url("../img/packagepreview/featured-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 437px;
}

/* line 1340, index.scss */
#hotelFounder_textOnImage {
  color: #ffffff;
  float: right;
  font-size: 50px;
  font-family: 'karbon-light', sans-serif;
  margin-top: 341px;
  margin-right: 23px;
}

/* line 1356, index.scss */
.hotelFounder_contactUsHeader {
  border-bottom: 2px solid #959595;
  font-family: 'karbon-light', sans-serif;
  font-size: 50px;
  text-align: justify;
}

/* line 1363, index.scss */
.hotelFounder_contactUsHeader:after {
  content: "";
  width: 203px;
  height: 1px;
  padding: 2px;
  background-color: #00aeef;
  display: block;
}

/* line 1372, index.scss */
#hotelFounder_nameField, #hotelFounder_subjectField {
  margin-bottom: 10px;
  width: 369px;
  height: 29px;
  background-color: #ececec;
}

/* line 1380, index.scss */
#hotelFounder_nameField {
  margin-right: 34px;
}

/* line 1384, index.scss */
#hotelFounder_contactUsTextArea {
  background-color: #ececec;
  width: 100%;
  height: 155px;
}

/* line 1389, index.scss */
#hotelFounder_contactUsSubmitButton {
  width: 94px;
  margin-top: 20px;
  float: right;
  background-color: #00aeef;
  margin-bottom: 47px;
}

/* line 1403, index.scss */
#hotelFounder_lable {
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  margin-bottom: 0px;
}

/* line 1409, index.scss */
#hotelFounder_secondColumphoneNumberText {
  padding-left: 50px;
  font-family: 'karbon', sans-serif;
  font-size: 15px;
}

/* line 1419, index.scss */
.hotelFounder_SecondColume {
  padding: 0;
}

/* line 1423, index.scss */
.hotelFounder_contactUsSripteImage:after {
  content: "";
  width: 2px;
  height: 95px;
  padding: 2px;
  position: absolute;
  left: 90px;
  top: 30px;
  background-color: #f2f2f2;
  display: block;
}

/* line 1436, index.scss */
.hotelFounder_phoneImage1 {
  background-image: url("../img/imageSprit.png");
  background-position: 0 -36px;
  background-repeat: no-repeat;
  width: 280px;
  margin-top: 29px;
  height: 18px;
  display: block;
}

/* line 1446, index.scss */
.hotelFounder_phoneImage1:after {
  content: "";
  width: 5px;
  height: 12px;
  padding: 2px;
  margin-left: 330px;
  margin-top: -15px;
  background-color: #00aeef;
  display: block;
}

/* line 1457, index.scss */
.hotelFounder_mailImage:after {
  content: "";
  width: 5px;
  height: 12px;
  padding: 2px;
  margin-left: 330px;
  margin-top: -17px;
  background-color: #00aeef;
  display: block;
}

/* line 1468, index.scss */
#para {
  padding-top: 0px;
}

/* line 1471, index.scss */
.hotelFounder_locationImage:after {
  content: "";
  width: 5px;
  height: 12px;
  padding: 2px;
  margin-left: 330px;
  margin-top: -17px;
  background-color: #00aeef;
  display: block;
}

/* line 1482, index.scss */
.hotelFounder_mailImage {
  background-image: url("../img/imageSprit.png");
  background-position: 0 -23px;
  background-repeat: no-repeat;
  width: 260px;
  height: 13px;
  margin-bottom: 5px;
  display: block;
}

/* line 1491, index.scss */
.hotelFounder_locationImage {
  background-image: url("../img/imageSprit.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  width: 350px;
  height: 23px;
  display: block;
}

/* line 1499, index.scss */
#hotelFounder_secondColumphoneNumberText {
  padding-left: 50px;
  font-family: 'karbon', sans-serif;
  font-size: 15px;
}

@font-face {
  font-family: 'karbon-medium';
  src: url("../fonts/Karbon medium/karbon-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Karbon medium/karbon-medium-webfont.woff") format("woff"), url("../fonts/Karbon medium/karbon-medium-webfont.ttf") format("truetype"), url("../fonts/Karbon medium/karbon-medium-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: 'karbon';
  src: url("../fonts/karbon/karbon-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/karbon/karbon-regular-webfont.woff");
}
@font-face {
  font-family: 'karbon-light';
  src: url("../fonts/karbon/karbon-light0.eot");
  src: url("../fonts/karbon-light/karbon-light0.woff");
}
