hr { 
    display: block;
    margin-top: 3em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
h1{
  font-family:Aharoni
  position: relative;
  height: 95px;
}


.reg{
  position: absolute;
  top:0px;
  left: 1000px;
  padding:5px;
}






@font-face {
  font-family: 'karbon-medium';
  src: url('../fonts/Karbon medium/karbon-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Karbon medium/karbon-medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Karbon medium/karbon-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Karbon medium/karbon-medium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'karbon';
  src: url('../fonts/karbon/karbon-regular-webfont.eot'); /* IE9 Compat Modes */
    src:  url('../fonts/karbon/karbon-regular-webfont.woff'); 
}
@font-face {
  font-family: 'karbon-light';
     src: url('../fonts/karbon/karbon-light0.eot'); 
    src:  url('../fonts/karbon-light/karbon-light0.woff');
    }
