@import "compass";


//////////////////////////////////////////////Hotel Founder Top Header Style ///////////////////////////////////////////////////

.hotelFounder_LoginAndRegister{
  position: absolute;
  top:0px;
  left: 1000px;
  padding:5px;
  height: 48px;
}
#hotelFounder_headerBottomLine { 
    display: block;
    margin-top: 3em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
#hotelFounder_LoginAndRegister{
  a{
     font-family: 'karbon-medium', sans-serif;
  font-size: 15px;
  }

}


///////////////////////////////////////////////Header Style End/////////////////////////////////////////////////////////////////
//----------------------------------------------------------------------------------------------------------------------------//


//////////////////////////////////////////Hotel Founder SpriteImage Style//////////////////////////////////////////////////////

.hotelFounder_googleIcon{
  background-image:url('../img/icons.png');
  background-position:0 -85px;
  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;

}
.hotelFounder_twitterIcon{
  background-image:url('../img/icons.png');
  background-position:0 -112px;
  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;
}
.hotelFounder_facebookIcon{
  background-image:url('../img/icons.png');
  background-position:0 -31px;
  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;
}
.hotelFounder_feedIcon{
  background-image:url('../img/icons.png');
  background-position:0 -58px;
  background-repeat:no-repeat;
  width:27px;
  display: inline-block;
  height:27px;
}
.hotelFounder_emailImageIcon:before{
  background-image:url('../img/icons.png');
  background-position:0 6;
  background-repeat:no-repeat;
  width:18px;
  height:18px;
  display: inline-block;
  content: "";
}
.hotelFounder_phoneImage:before{
  background-image:url('../img/icons.png');
  background-position:0 -13;
  background-repeat:no-repeat;
  width:20px;
  height:18px;
  display: inline-block;
  content: "";
}
.hotelFounder_socialIcons{
  padding-right:0px;
  float: right;

}

#hotelFounder_headerContainer{
  height: 90px;
}
.hotelFounder_LogoImages_OtherImages{
  margin: 10px;
}

.hotel_Founder_Logo{
 
}
.hotelFounder_phoneImage{
  display: inline-block;
  margin-left: 80px;
}
.hotelFounder_emailImageIcon{
  display: inline-block;
}
#hotelFounder_ulList,{
  margin-top: 30px;
  width: 450px;

}
#hotelFounder_socialSpriteImage{
  margin-top: 30px;
  margin-right: 0px;
  float: right;
 
}

/////////////////////////////////////////////////// SpriteImage Style End//////////////////////////////////////////////////////
//---------------------------------------------------------------------------------------------------------------------------//



//////////////////////////////////////////Hotel Founder Navigation Bar Style////////////////////////////////////////////////////
.navbar-inverse {
    background-color: #00a3e7;
    height: 43px;
}
.navbar{
	border:#00a3e7 ;
	margin-bottom: 0px;
}

.collapse navbar-collapse{
	.nav navbar-nav{
		position:absolute;
		
		left: 250px;
	}
}
.collapse navbar-collaps{
	.nav navbar-nav{
		.about{
			color: white;

		}
	}
}

.navbar-collapse {

	.navbar-nav li a{
		color:white;
      font-family: 'Raleway', sans-serif;
	}
}

.container > .navbar-collapse, .container-fluid > .navbar-collapse {

margin-left: 300px;
}
.navbar-header{
	border-color:white;
}


////////////////////////////////////////// Navigation Bar Style End///////////////////////////////////////////////////
//------------------------------------------------------------------------------------------------------------------//

.hotelFounder_mainImage{
  background-image:url('../img/contactus/map.jpg');
  background-repeat: no-repeat ;
  background-size: 100% 100%;
  height:437px;
}






///////////////////////////////////////////// Main Image Style End ///////////////////////////////////////////////////
//------------------------------------------------------------------------------------------------------------------//
