@import "compass";


//////////////////////////////////////////////Hotel Founder Top Header Style ///////////////////////////////////////////////////

.hotelFounder_LoginAndRegister{
  position: absolute;
  top:0px;
  left: 1000px;
  padding:5px;
  height: 48px;
}
#hotelFounder_headerBottomLine { 
    display: block;
    margin-top: 3em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
#hotelFounder_LoginAndRegister{
  a{
     font-family: 'karbon-medium', sans-serif;
  font-size: 15px;
  }

}


///////////////////////////////////////////////Header Style End/////////////////////////////////////////////////////////////////
//----------------------------------------------------------------------------------------------------------------------------//


//////////////////////////////////////////Hotel Founder SpriteImage Style//////////////////////////////////////////////////////

.hotelFounder_googleIcon{
  background-image:url('../img/icons.png');
  background-position:0 -85px;
  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;

}
.hotelFounder_twitterIcon{
  background-image:url('../img/icons.png');
  background-position:0 -112px;
  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;
}
.hotelFounder_facebookIcon{
  background-image:url('../img/icons.png');
  background-position:0 -31px;
  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;
}
.hotelFounder_feedIcon{
  background-image:url('../img/icons.png');
  background-position:0 -58px;
  background-repeat:no-repeat;
  width:27px;
  display: inline-block;
  height:27px;
}
.hotelFounder_emailImageIcon:before{
  background-image:url('../img/icons.png');
  background-position:0 6;
  background-repeat:no-repeat;
  width:18px;
  height:18px;
  display: inline-block;
  content: "";
}
.hotelFounder_phoneImage:before{
  background-image:url('../img/icons.png');
  background-position:0 -13;
  background-repeat:no-repeat;
  width:20px;
  height:18px;
  display: inline-block;
  content: "";
}
.hotelFounder_socialIcons{
  padding-right:0px;
  float: right;

}

#hotelFounder_headerContainer{
  height: 90px;
}
.hotelFounder_LogoImages_OtherImages{
  margin: 10px;
}

.hotel_Founder_Logo{
 
}
.hotelFounder_phoneImage{
  display: inline-block;
  margin-left: 80px;
}
.hotelFounder_emailImageIcon{
  display: inline-block;
}
#hotelFounder_ulList,{
  margin-top: 30px;
  width: 450px;

}
#hotelFounder_socialSpriteImage{
  margin-top: 30px;
  margin-right: 0px;
  float: right;
 
}

/////////////////////////////////////////////////// SpriteImage Style End//////////////////////////////////////////////////////
//---------------------------------------------------------------------------------------------------------------------------//



//////////////////////////////////////////Hotel Founder Navigation Bar Style////////////////////////////////////////////////////
.navbar-inverse {
    background-color: #00a3e7;
    height: 43px;
}
.navbar{
	border:#00a3e7 ;
	margin-bottom: 0px;
}

.collapse navbar-collapse{
	.nav navbar-nav{
		position:absolute;
		
		left: 250px;
	}
}
.collapse navbar-collaps{
	.nav navbar-nav{
		.about{
			color: white;

		}
	}
}

.navbar-collapse {

	.navbar-nav li a{
		color:white;
      font-family: 'Raleway', sans-serif;
	}
}

.container > .navbar-collapse, .container-fluid > .navbar-collapse {

margin-left: 300px;
}
.navbar-header{
	border-color:white;
}


////////////////////////////////////////// Navigation Bar Style End///////////////////////////////////////////////////
//------------------------------------------------------------------------------------------------------------------//

.hotelFounder_mainImage{
  background-image:url('../img/packagepreview/package-image.jpg');
  background-repeat: no-repeat ;
  background-size: 100% 100%;
  height:437px;
}






///////////////////////////////////////////// Main Image Style End ///////////////////////////////////////////////////
//------------------------------------------------------------------------------------------------------------------//


////////////////////////////////////////////Hotel Founder Contact Us Form Style///////////////////////////////////////




//////////////////////////////////////////// Contact Us Form Style End////////////////////////////////////////////////

////////////////////////////////////////////this is style of main fotter/////////////////////////////////////////////
//-----------------------------------------------------------------------------------------------------------------//




.hotelFounder_describeAboutUs:after{
  content:"";
  width: 70px;
  height: 1px;
  padding:2px;
  background-color:#00aeef;
  display: block;
}
.hotelFounder_describeAboutUs{
  border-bottom:2px solid #959595;
}
.hotelFounder_newsLetters:after{
  content:"";
  width: 70px;
  height: 3px;
  padding:1px;
  background-color:#00aeef;
  display: block;
}
.hotelFounder_newsLetters{
  border-bottom:2px solid #959595;
}
.contactUs:after{
  content:"";
  width: 70px;
  height: 2px;
  padding:2px;
  background-color:#00aeef;
  display: block;
}
.contactUs{
  border-bottom:2px solid #959595;
}
#hotelFounder_signUpField{
  width: 157px;

}
#hotelFounder_signUpButton{
  width: 72px;
  background-color: 00aeef;
  border-color:00aeef;
}
#hotelFounder_quickLinksColum{
  width: 170px;
  margin-right: 53px;
  padding:0px;
}
#hotelFounder_fotterQuickLinks{
  width: 170px;
  margin-right: 53px;
  padding:0px;
}
#hotelFounder_aboutUsColum{
  width: 200px;
  margin-right: 52px;
  padding:0px;
}
#hotelFounder_contactUsColum{
  width: 206px;
  margin-right: 53px;
  padding:0px;
}
#hotelFounder_newsLetterColum{
  width: 236px;
  margin-right: 43px;
  padding:0px;
}
#hotelFounder_socialMediaColum{
  width:155px; 
  padding:0px;
}

#bn{
  width:295px;

}
.hotelFounder_describecontactUs:after{
  content:"";
  width: 70px;
  height: 3px;
  padding:2px;
  background-color:#00aeef;
  display: block;
}
.hotelFounder_describecontactUs{
  border-bottom:2px solid #959595;
}

.hotelFounder_socialIconsSecond{
  padding-right:0px;
  padding-top:5px;
  float: left;
}
.HotelFounderLogosmalll{
  padding-top:10px;
}
#colum{
  width: 1100px;
}



.HotelFounder_Mainfotter{
 
  height: 435px;
  background-color:263441;
}
.hotelFounder_fotterQuickLinks:after{
  content:"";
  width: 73px;
  height: 3px;
  padding:2px;
  background-color:#00aeef;
  display: block;
}


.hotelFounder_fotterQuickLinks{
  border-bottom:2px solid #959595;
}


.text{
  padding-top:0px;
  width: 1170px;
}

#fonts,#whiteFont{
  padding-top:70px;
   z-index: 2;
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  color: white;
}
#fonts{

    padding-top: 0;

}

.hotelFounder_googleIconGray{
  background-image:url('../img/iconsgray.png');
  background-position:0 -54px;
  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;

}
.hotelFounder_twitterIconGray{
  background-image:url('../img/iconsgray.png');
  background-position:0 -81px;
  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;
}
.hotelFounder_facebookIconGray{
  background-image:url('../img/iconsgray.png');
  background-position:0 0px;
  background-repeat:no-repeat;
  width:27px;
  height:27px;
  display: inline-block;
}
.hotelFounder_feedIconGray{
  background-image:url('../img/iconsgray.png');
  background-position:0 -27px;
  background-repeat:no-repeat;
  width:27px;
  display: inline-block;
  height:27px;
}
.list-unstyled,a{
  font-family: 'karbon', sans-serif;
  font-size: 15px;
  color: 838383;
}
.hotelFounder_fotterQuickLinks,p{
   font-family: 'karbon', sans-serif;
  font-size: 15px;
  color: 838383;
}



////////////////////////////////////////////this is end of main fotter/////////////////////////////////////////////

@font-face {
  font-family: 'karbon-light';
     src: url('../fonts/karbon/karbon-light0.eot'); 
    src:  url('../fonts/karbon-light/karbon-light0.woff');
 
}
@font-face {
  font-family: 'karbon';
  src: url('../fonts/karbon/karbon-regular-webfont.eot'); /* IE9 Compat Modes */
    src:  url('../fonts/karbon/karbon-regular-webfont.woff');
 
}
@font-face {
  font-family: 'karbon-medium';
  src: url('../fonts/Karbon medium/karbon-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Karbon medium/karbon-medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Karbon medium/karbon-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Karbon medium/karbon-medium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}