@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@media (max-width: 991px) {
  /* line 7, main.scss */
  .container {
    max-width: 860px;
  }
}
/* line 11, main.scss */
.LankaTimes_Header {
  height: 799px;
}

/* line 20, main.scss */
#infinity_header_menu {
  position: absolute;
  z-index: 100000;
  top: 0px;
  width: 100%;
  height: 100%;
}
/* line 27, main.scss */
#infinity_header_menu .col-md-6 {
  padding: 0px;
}

/* line 35, main.scss */
#navHeader-colum {
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.54);
}

/* line 47, main.scss */
.LankaTimes_HeaderImage .infinity_lanka_packagesPanel {
  background-color: transparent;
  width: 457px;
  height: 731px;
  margin-top: 334px;
  float: left;
  margin-right: 50px;
  list-style: none;
  font-family: 'Corisande', sans-serif;
  color: white;
  position: absolute;
  transition: opacity 0.5s;
  transition: all ease 0.5s;
}
/* line 61, main.scss */
.LankaTimes_HeaderImage .infinity_lanka_packagesPanel #colr {
  background-color: -webkit-linear-gradient(rgba(0, 0, 0, 0.54), transparent);
  border-bottom: 1px solid transparent;
  border-left: 3px solid transparent;
  height: 52px;
  width: 443px;
  padding: 0;
  margin-bottom: 1px;
  margin-left: 16px;
  border-left: 6px solid rgba(5, 3, 0, 0);
  border-bottom: 3px solid rgba(5, 3, 0, 0);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 90%);
}
/* line 81, main.scss */
.LankaTimes_HeaderImage .infinity_lanka_packagesPanel #colr:hover {
  background-image: linear-gradient(to right, #000000, rgba(0, 0, 0, 0) 90%);
  border-left: 6px solid #f7941d;
  border-bottom: 3px solid #f7941d;
}
/* line 93, main.scss */
.LankaTimes_HeaderImage .infinity_lanka_packagesPanel #colrr {
  border-left: 1px solid transparent;
  height: 52px;
  width: 443px;
  padding: 0;
  margin-left: 17px;
  border-left: 6px solid rgba(5, 3, 0, 0);
  border-bottom: 3px solid rgba(5, 3, 0, 0);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 90%);
}
/* line 107, main.scss */
.LankaTimes_HeaderImage .infinity_lanka_packagesPanel #colrr:hover {
  background-image: linear-gradient(to right, #000000, rgba(0, 0, 0, 0) 90%);
  border-left: 6px solid #f7941d;
  border-bottom: 3px solid #f7941d;
}
/* line 117, main.scss */
.LankaTimes_HeaderImage .infinity_lanka_packagesPanel li {
  margin-top: 17px;
}
/* line 124, main.scss */
.LankaTimes_HeaderImage #packagesImage {
  margin-top: 15px;
  margin-left: 70px;
}
/* line 128, main.scss */
.LankaTimes_HeaderImage #secondImage {
  height: 45px;
  width: 56px;
  margin-left: 37px;
}
/* line 134, main.scss */
.LankaTimes_HeaderImage #secondImageElephnt {
  margin-left: -27px;
  margin-top: 18px;
}
/* line 138, main.scss */
.LankaTimes_HeaderImage #thirdImage {
  margin-left: 28px;
  margin-top: 19px;
}
/* line 142, main.scss */
.LankaTimes_HeaderImage #forthImage {
  margin-top: 13px;
  margin-left: 57px;
}
/* line 146, main.scss */
.LankaTimes_HeaderImage #fifthImage {
  margin-top: 10px;
  margin-left: 82px;
}
/* line 150, main.scss */
.LankaTimes_HeaderImage #sixthImage {
  margin-top: 10px;
  margin-left: 35px;
}
/* line 154, main.scss */
.LankaTimes_HeaderImage .packagesText1, .LankaTimes_HeaderImage .packagesText2, .LankaTimes_HeaderImage .packagesText3, .LankaTimes_HeaderImage .packagesText4, .LankaTimes_HeaderImage .packagesText5, .LankaTimes_HeaderImage .packagesText6, .LankaTimes_HeaderImage .packagesText7 {
  font-family: 'Corisande', sans-serif;
  font-size: 14px;
  color: white;
  margin-left: 28px;
}
/* line 170, main.scss */
.LankaTimes_HeaderImage .LankaTimes_weatherBox {
  background-color: rgba(0, 0, 0, 0.54);
  width: 310px;
  height: 184px;
  float: right;
  margin-right: 50px;
  list-style: none;
  font-family: 'Corisande', sans-serif;
  color: white;
}
/* line 182, main.scss */
.LankaTimes_HeaderImage .weatherBoxTextLineOne {
  font-size: 22px;
  text-align: center;
  line-height: 0.7em;
  margin-top: 44px;
  margin-bottom: 20px;
  padding-left: 59px;
}
/* line 190, main.scss */
.LankaTimes_HeaderImage .weatherBoxTextLineTwo {
  font-size: 98px;
  text-align: center;
  line-height: 0.65em;
  margin-bottom: 11px;
  padding-left: 39px;
}
/* line 196, main.scss */
.LankaTimes_HeaderImage .weatherBoxTextLineTwo sup {
  font-size: 59px;
  margin-left: -16px;
}
/* line 201, main.scss */
.LankaTimes_HeaderImage .weatherBoxTextLineThree {
  font-size: 22px;
  line-height: 0.7em;
  text-align: center;
  margin-left: 64px;
}
/* line 207, main.scss */
.LankaTimes_HeaderImage .LankaTimes_MenubuttonListUl {
  list-style: none;
  float: right;
  clear: both;
}
/* line 212, main.scss */
.LankaTimes_HeaderImage .LankaTimes_MenubuttonListUl a {
  text-decoration: none;
  color: #d6d1d1;
  text-align: right;
  font-family: 'karbon-medium', sans-serif;
  font-size: 18px;
  padding-right: 10px;
  line-height: 0.7em;
  padding-top: 9px;
  padding-bottom: 10px;
  display: block;
  transition: opacity 0.5s;
  transition: all ease 0.5s;
}
/* line 226, main.scss */
.LankaTimes_HeaderImage .LankaTimes_MenubuttonListUl a:hover {
  background-color: #877c74;
  transition: all ease 0.5s;
}
/* line 232, main.scss */
.LankaTimes_HeaderImage .LankaTimes_MenubuttonListUl li:hover {
  transition: all ease 0.5s;
  border-right: 6px solid #f7941d;
  border-bottom: 3px solid #f7941d;
}
/* line 239, main.scss */
.LankaTimes_HeaderImage .LankaTimes_MenubuttonListUl li:hover a {
  background-color: #877c74;
}
/* line 246, main.scss */
.LankaTimes_HeaderImage .LankaTimes_MenubuttonListUl li {
  transition: all ease 0.5s;
  margin-bottom: 18px;
  text-align: right;
  margin-right: 10px;
  width: 130px;
  height: 30px;
  padding-right: 7px;
  padding-bottom: 36px;
  border-right: 6px solid rgba(5, 3, 0, 0);
  border-bottom: 3px solid rgba(5, 3, 0, 0);
}

/* line 265, main.scss */
.LankaTimes_HeaderImage_darkSide {
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);
  position: absolute;
  left: 0;
  z-index: 200;
  top: 0;
}

@media (max-width: 994px) {
  /* line 277, main.scss */
  .LankaTimes_HeaderImage_darkSide {
    width: 10%;
    height: 150%;
    background-color: black;
    position: absolute;
    left: 0;
    z-index: 200;
    top: 0;
  }
}
/* line 287, main.scss */
#sun_cloudsImage {
  margin-left: -57px;
  margin-top: -97px;
}

/* line 291, main.scss */
#logoImage {
  float: right;
  margin-right: 28px;
  margin-bottom: 39px;
  margin-top: 138px;
}

/* line 301, main.scss */
.LankaTimes_HeaderImageTextAndLable {
  width: 353px;
  height: 199px;
  clear: both;
  float: right;
  margin-top: -200px;
  list-style: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 73px;
  text-align: right;
  padding-right: 24px;
  width: 354px;
}

/* line 316, main.scss */
.imageText {
  line-height: 0.8em;
  margin-top: 625px;
}

/* line 321, main.scss */
.imageTextHome {
  line-height: 0.8em;
  margin-top: 10px;
}

/* line 326, main.scss */
.imageTextSmall {
  font-size: 36px;
  font-family: 'karbon', sans-serif;
  margin-top: -31px;
  text-align: right;
  padding-right: 24px;
  width: 354px;
  line-height: 0.7em;
  margin-top: 10px;
}

/* line 337, main.scss */
.polygonText {
  position: absolute;
  font-size: 21px;
  font-family: 'karbon', sans-serif;
  margin-left: 101px;
  margin-top: -36px;
}

/* line 345, main.scss */
.polygonImage {
  line-height: 0.4em;
  margin-top: 31px;
}

/* line 353, main.scss */
.polygonText:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.4s ease-in-out;
}

/* line 359, main.scss */
#infinity_Lanka_polygonImage:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.4s ease-in-out;
}

/* line 363, main.scss */
.tparrows:before {
  margin-top: 7px;
}

/* line 370, main.scss */
.LankaTimes_middleImage {
  background-image: url("../img/Layer 39.jpg");
  width: 100%;
  height: 1196px;
}

/* line 375, main.scss */
.LankaTimes_slider {
  position: relative;
  width: 409px;
  height: 324px;
  background-color: rgba(0, 0, 0, 0.52);
  margin-top: 44px;
  z-index: 200;
  font-family: 'karbon-medium', sans-serif;
  font-size: 41px;
  color: white;
}
/* line 385, main.scss */
.LankaTimes_slider #sliderHeader {
  margin-left: 102px;
  margin-bottom: 10;
}
/* line 389, main.scss */
.LankaTimes_slider #sliderHeaderColombo {
  margin-left: 125px;
  margin-bottom: 10;
}
/* line 393, main.scss */
.LankaTimes_slider #sliderHeaderBentota {
  margin-left: 132px;
  margin-bottom: 10;
}

/* line 398, main.scss */
#description {
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  text-align: justify;
}

/* line 404, main.scss */
#description1 {
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  text-align: justify;
}

/* line 410, main.scss */
#description2 {
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  text-align: justify;
}

/* line 416, main.scss */
.aboutHeader1 {
  width: 370px;
  margin-left: 19px;
  list-style: none;
}

/* line 424, main.scss */
.sliderImage {
  z-index: 200;
  margin-top: -378px;
  width: 412px;
  height: 10px;
}

/* line 432, main.scss */
#sliderImg {
  z-index: 300;
  position: relative;
  margin-top: 9px;
}

/* line 437, main.scss */
.mainSlider {
  margin-left: 24px;
}

/* line 440, main.scss */
.middle {
  height: 100px;
  width: 100%;
  background-color: black;
}

/* line 445, main.scss */
#hotelFounder_readMoreButton {
  width: 132px;
  height: 51px;
  border-radius: 15px;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.11);
  float: right;
  margin-right: 19px;
  margin-top: -53px;
  position: absolute;
  top: 308px;
  outline: none;
  left: 257px;
}
/* line 460, main.scss */
#hotelFounder_readMoreButton:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transform: scale(1.02, 1.02);
  transition: all 0.4s ease-in-out;
}

/* line 468, main.scss */
#infinity_lanka_sliderNextButton:hover {
  background: #060000;
  transform: scale(1.1, 1.1);
}

/* line 472, main.scss */
#infinity_lanka_sliderPreviousButton:hover {
  background: #060000;
  transform: scale(1.1, 1.1);
}

/* line 476, main.scss */
#buttonText {
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  color: white;
}

/* line 481, main.scss */
.welcomeHeader {
  font-family: 'Bebas', sans-serif;
  font-size: 60px;
  text-align: right;
  margin-top: 185px;
  margin-right: 20px;
  background: -webkit-linear-gradient(#525252, #303030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 491, main.scss */
.welcomeHeader:after {
  content: "";
  width: 1px;
  height: 614px;
  position: absolute;
  top: 134px;
  left: 569px;
  background-color: #9b9b9b;
  display: block;
  box-shadow: 0px 10px 6px #888888;
}

/* line 502, main.scss */
.welcomeText {
  margin-top: 185px;
  font-family: 'karbon-medium', sans-serif;
  font-size: 14px;
  margin-left: 25px;
  text-align: justify;
  margin-bottom: 91px;
  color: #323131;
}

/* line 511, main.scss */
#textContent {
  width: 535px;
}

/* line 518, main.scss */
#LankaTimesLogo {
  width: 200px;
  float: right;
  margin-right: 20px;
  margin-top: 38px;
}

/* line 524, main.scss */
.LankaTimes_fotterImage {
  width: 100%;
  height: 632px;
  margin-top: -18px;
  position: relative;
  z-index: 50;
}

/* line 532, main.scss */
#hotelFounderSlideContainer {
  width: 100%;
  height: 100%;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 23px;
}

/* line 541, main.scss */
.slider_wrapper {
  overflow: hidden;
  position: relative;
  padding-left: 0px;
  height: 280px;
  top: auto;
  width: 100%;
  height: 100%;
}

/* line 550, main.scss */
#hotelFounder_image_slider {
  position: relative;
  height: auto;
  list-style: none;
  overflow: hidden;
  float: left;
  padding-top: 89px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

/* line 562, main.scss */
#hotelFounder_image_slider li {
  position: relative;
  float: left;
}

/* line 568, main.scss */
.LankaTimes_socialIcons {
  float: right;
  clear: both;
  margin-top: 49px;
  margin-bottom: 20px;
  margin-right: 32px;
}
/* line 574, main.scss */
.LankaTimes_socialIcons #sIcon {
  margin-right: 22px;
}

/* line 580, main.scss */
.LankaTimes_allRightsText {
  text-align: right;
  float: right;
  margin-right: 30px;
  clear: both;
}
/* line 585, main.scss */
.LankaTimes_allRightsText p {
  font-family: 'Corisande', sans-serif;
  font-size: 14px;
  line-height: 0.99em;
  margin-bottom: 5px;
}

/* line 593, main.scss */
#infinity_lanka_sliderNextButton {
  z-index: 400;
  position: relative;
  float: right;
  height: 20px;
  width: 20px;
  padding: 0;
  border-color: transparent;
  background-color: rgba(6, 0, 0, 0.45);
  line-height: 0.4em;
  padding-bottom: 2px;
  outline: none;
}

/* line 606, main.scss */
#infinity_lanka_sliderPreviousButton {
  z-index: 400;
  position: relative;
  float: right;
  height: 20px;
  width: 20px;
  padding: 0;
  margin-right: 5px;
  border-color: transparent;
  background-color: rgba(6, 0, 0, 0.45);
  line-height: 0.4em;
  padding-bottom: 2px;
  outline: none;
}

/* line 620, main.scss */
.sliderButtonDiv {
  margin-top: -38px;
  margin-right: 10px;
}

/* line 624, main.scss */
#Infinity_Lanka_contactUsForm {
  margin-top: 185px;
  margin-left: 28px;
}

/* line 630, main.scss */
.LankaTimes_fotter {
  width: 100%;
  height: 636px;
  background-color: #3a3a3a;
  margin-top: -259px;
}
/* line 637, main.scss */
.LankaTimes_fotter h6 {
  margin-bottom: 17px;
}

/* line 642, main.scss */
.ourServiceHeader {
  font-family: 'Corisande', sans-serif;
  font-size: 26px;
  color: white;
  margin-top: 222px;
  margin-left: 26px;
}

/* line 653, main.scss */
.ourServiceHeaderDescription {
  font-family: 'Corisande', sans-serif;
  font-size: 14px;
  color: white;
  width: 447px;
  text-align: justify;
  margin-left: 26px;
}

/* line 661, main.scss */
.ourServiceHeaderDescription:after {
  content: "";
  width: 447px;
  height: 2px;
  padding: 2px;
  background-color: #9b9b9b;
  display: block;
  margin-top: 23px;
}

/* line 670, main.scss */
.ourQuickLinkHeader {
  font-family: 'Corisande', sans-serif;
  font-size: 26px;
  color: white;
  margin-top: 222px;
}

/* line 678, main.scss */
#quickLinksUl {
  list-style: none;
}
/* line 680, main.scss */
#quickLinksUl li {
  margin-bottom: 12px;
}
/* line 682, main.scss */
#quickLinksUl li a {
  color: white;
  font-family: 'Corisande', sans-serif;
  font-size: 14px;
}

/* line 689, main.scss */
.newsLetter {
  font-family: 'Corisande', sans-serif;
  font-size: 26px;
  color: white;
  margin-top: 222px;
}
/* line 694, main.scss */
.newsLetter #paraSignUp {
  color: white;
}

/* line 699, main.scss */
.LankaTimes_newsLetterContent ul {
  list-style: none;
  color: white;
}
/* line 700, main.scss */
.LankaTimes_newsLetterContent ul li {
  font-family: 'Corisande', sans-serif;
  font-size: 14px;
}

/* line 709, main.scss */
#hotelFounder_subscribeButton {
  background-color: #e19002;
  border-color: #e19002;
  width: 99px;
  height: 31px;
  color: white;
  outline: none;
  padding: 0px;
}

/* line 720, main.scss */
.textFieldAndButton {
  margin-top: 27px;
  margin-bottom: 34px;
}

/* line 724, main.scss */
#sIcon2 {
  margin-bottom: 17px;
}

/* line 727, main.scss */
.socialIcon {
  margin-left: 26px;
}

/* line 731, main.scss */
#socialIconText {
  font-family: 'Corisande', sans-serif;
  font-size: 15px;
  margin-left: 42px;
  margin-top: 20px;
}

/* line 737, main.scss */
.LankaTimes_fotterLogo {
  position: absolute;
  margin-left: 182px;
  margin-top: -61px;
}

/* line 742, main.scss */
#fotterLogo {
  width: 163px;
  height: 73px;
}

/* line 746, main.scss */
#hotelFounder_subscribeField {
  background-color: #3a3a3a;
  height: 31px;
  width: 180px;
  outline: none;
  padding: 0px;
}

/* line 754, main.scss */
.sliderSocialIcon {
  position: absolute;
  top: 250;
}

/* line 760, main.scss */
.LankaTimes_location {
  background-image: url("../img/iconsSet.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  width: 215px;
  height: 31px;
  display: block;
}

/* line 769, main.scss */
.LankaTimes_mail {
  background-image: url("../img/iconsSet.png");
  background-position: 0 -31px;
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  display: block;
}

/* line 778, main.scss */
.LankaTimes_phone {
  background-image: url("../img/iconsSet.png");
  background-position: 0 -51px;
  background-repeat: no-repeat;
  width: 206px;
  height: 25px;
  display: block;
  margin-left: 62px;
}

/* line 788, main.scss */
.LankaTimes_web {
  background-image: url("../img/iconsSet.png");
  background-position: 0 -76px;
  background-repeat: no-repeat;
  width: 31px;
  height: 28px;
  display: block;
  margin-left: 62px;
}

/* line 798, main.scss */
#contactUsHeader {
  list-style: none;
  margin-top: 19px;
  margin-bottom: 15px;
  font-family: 'Corisande', sans-serif;
  font-size: 26px;
  color: white;
}
/* line 805, main.scss */
#contactUsHeader li {
  margin-left: 26px;
}

/* line 809, main.scss */
#sIcon3 {
  margin-bottom: 22px;
}

/* line 812, main.scss */
#sIcon4 {
  margin-bottom: 30px;
}

/* line 815, main.scss */
#colum {
  width: 180px;
  height: 98px;
  color: white;
}

/* line 820, main.scss */
.textColor {
  color: white;
}

/* line 823, main.scss */
#iconText {
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  margin-left: 47px;
}

/* line 828, main.scss */
.specialId {
  margin-bottom: 10px;
}

/* line 839, main.scss */
.LankaTimes_faceBookIcon {
  background-image: url("../img/lankaTimeSprite.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  width: 12px;
  height: 27px;
  display: inline-block;
}

/* line 848, main.scss */
.LankaTimes_twitterIcon {
  background-image: url("../img/lankaTimeSprite.png");
  background-position: 0 -53px;
  background-repeat: no-repeat;
  width: 29px;
  height: 23px;
  display: inline-block;
}

/* line 856, main.scss */
.LankaTimes_googleIcon {
  background-image: url("../img/lankaTimeSprite.png");
  background-position: 0 -27px;
  background-repeat: no-repeat;
  width: 27px;
  height: 26px;
  display: inline-block;
}

/* line 864, main.scss */
.faceBookIcon {
  background-image: url("../img/icons2.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  width: 12px;
  height: 27px;
  display: block;
}

/* line 873, main.scss */
.twitterIcon {
  background-image: url("../img/icons2.png");
  background-position: 0 -53px;
  background-repeat: no-repeat;
  width: 29px;
  height: 23px;
  display: block;
}

/* line 882, main.scss */
.pinterest {
  background-image: url("../img/icons2.png");
  background-position: 0 -27px;
  background-repeat: no-repeat;
  width: 20px;
  height: 26px;
  display: block;
}

/* line 899, main.scss */
.sliderFacebookIcon {
  background-image: url("../img/icons2.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  width: 12px;
  height: 27px;
  display: inline-block;
}

/* line 908, main.scss */
.sliderTwitterIcon {
  background-image: url("../img/icons2.png");
  background-position: 0 -53px;
  background-repeat: no-repeat;
  width: 29px;
  height: 23px;
  display: inline-block;
}

/* line 917, main.scss */
.sliderPinterestIcon {
  background-image: url("../img/icons2.png");
  background-position: 0 -27px;
  background-repeat: no-repeat;
  width: 20px;
  height: 26px;
  display: inline-block;
}

/* line 925, main.scss */
#SliderfbIcon {
  margin-left: 77px;
  margin-right: 38px;
}

/* line 929, main.scss */
#SliderTwiIcon {
  margin-right: 38px;
}

/* line 932, main.scss */
#sliderPiIcon {
  margin-top: 19px;
}

/* line 935, main.scss */
.mainColum {
  height: 963px;
}

/* line 942, main.scss */
.tp-rightarrow.default {
  z-index: 100;
  cursor: pointer;
  position: relative;
  background: url(../assets/large_right.png) no-Repeat 0 0;
  width: 40px;
  height: 40px;
  opacity: 1;
}

/* line 959, main.scss */
#Infinity_Lanka_lable {
  line-height: 0.9;
  margin-bottom: 11px;
  margin-top: 11px;
}

/* line 964, main.scss */
.form-control {
  height: 36px;
  border-color: #969696;
  background-color: rgba(255, 255, 255, 0.29);
  padding: 0;
  width: 371px;
}

/* line 972, main.scss */
#Infinity_Lanka_contactUsTextArea {
  margin-bottom: 24px;
}

/* line 976, main.scss */
#Infinity_Lanka_contactUsSubmitButton {
  float: right;
  height: 35px;
  width: 98px;
  background-color: #ee8d00;
  font-family: 'karbon-medium' sans-serif;
  color: white;
  font-size: 15px;
  margin-right: 105px;
}

/* line 986, main.scss */
#Infinity_Lanka_contactUsForm {
  font-family: 'Corisande', sans-serif;
  font-size: 15px;
  color: #323131;
}

/* line 991, main.scss */
.infinty_lanka_map {
  height: 528px;
  width: 100%;
  border: 10px solid #ffffff;
  margin-top: -370px;
  z-index: 2000;
  position: relative;
}

/* line 1000, main.scss */
#Infinity_Lanka_contactUsTextArea {
  height: 165px;
}

/* line 1003, main.scss */
#mapFrame {
  -webkit-filter: grayscale(100%);
}

/* line 1007, main.scss */
#mapContainer {
  padding: 0px;
  padding-bottom: 102px;
  padding-left: 0;
}

/* line 1013, main.scss */
.LankaTimes_HeaderPicture {
  background-image: url("../img/Layer83.jpg");
  height: 100%;
}

/* line 1019, main.scss */
.LankaTimes_fotterAboutUs {
  width: 100%;
  height: 636px;
  background-color: #3a3a3a;
  margin-top: -339px;
}

/* line 1029, main.scss */
.LankaTimes_HeaderPictureContactUs {
  background-image: url("../img/Layer84.jpg");
  height: 100%;
}

/* line 1033, main.scss */
#textContentContactUs {
  margin-top: 215px;
  font-family: 'karbon-medium' sans-serif;
  color: black;
  width: 823px;
  margin-left: -43px;
}
/* line 1040, main.scss */
#textContentContactUs p {
  font-size: 14px;
  margin-bottom: 26px;
  text-align: justify;
}

/* line 1046, main.scss */
.welcomeHeaderContactUs {
  font-family: 'Bebas', sans-serif;
  font-size: 37.89px;
  text-align: right;
  margin-top: 245px;
  margin-right: 20px;
  background: -webkit-linear-gradient(#525252, #303030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 1058, main.scss */
.welcomeHeaderContactUs:after {
  content: "";
  width: 1px;
  height: 388px;
  position: absolute;
  top: 208px;
  left: 322px;
  background-color: #9b9b9b;
  display: block;
  box-shadow: 0px 10px 6px #888888;
}

/* line 1072, main.scss */
#LankaTimesLogoContactUs {
  width: 200px;
  float: right;
  margin-right: 20px;
  margin-top: 38px;
}

/* line 1078, main.scss */
.mainColumContactUs {
  width: 307px;
  height: 878px;
}

/* line 1083, main.scss */
.LankaTimes_fotterContactUs {
  width: 100%;
  height: 636px;
  background-color: #3a3a3a;
  margin-top: -327px;
}

/* line 1096, main.scss */
.infinty_lanka_ImageViewer {
  height: 528px;
  width: 100%;
  border: 10px solid #ffffff;
  margin-top: -370px;
  z-index: 2000;
  position: relative;
}

/* line 1105, main.scss */
#imageContainer {
  padding: 0px;
  padding-bottom: 102px;
  padding-left: 0;
}

/* line 1113, main.scss */
.LankaTimes_HeaderPictureGallery {
  background-image: url("../img/Layer83.jpg");
  height: 100%;
}

/* line 1117, main.scss */
.gallerySmallImages {
  margin: 3px;
}
/* line 1119, main.scss */
.gallerySmallImages:hover {
  transform: scale(0.9, 0.9);
  transition: all 0.4s ease-in-out;
  -webkit-transition: 1.3s ease;
  transition: 1.3s ease;
  opacity: 0.5;
  clip: rect(5px, 5px, 5px, 5px);
}

/* line 1131, main.scss */
.infinity_lanka_gallery {
  margin-top: 114px;
  margin-left: -39px;
}

/* line 1136, main.scss */
.second_field_gallery {
  margin-left: 3px;
}

/* line 1139, main.scss */
.third_field_gallery {
  margin-left: 6px;
}

/* line 1144, main.scss */
.fourth_field_gallery {
  margin-left: 1px;
  margin-top: 130px;
}

/* line 1149, main.scss */
.welcomeHeaderGallery {
  font-family: 'Bebas', sans-serif;
  font-size: 37.89px;
  text-align: right;
  margin-top: 203px;
  margin-right: 20px;
  background: -webkit-linear-gradient(#525252, #303030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 1161, main.scss */
.welcomeHeaderGallery:after {
  content: "";
  width: 1px;
  height: 290px;
  position: absolute;
  top: 162px;
  left: 322px;
  background-color: #9b9b9b;
  display: block;
  box-shadow: 0px 10px 6px #888888;
}

/* line 1175, main.scss */
#kl {
  width: 1090px;
  height: 508px;
}

/* line 1185, main.scss */
.LankaTimes_fotterTravelGuide {
  width: 100%;
  height: 463px;
  background-color: #3a3a3a;
  margin-top: -24px;
}

/* line 1192, main.scss */
#textContentContactUsTravelGuide {
  margin-top: 70px;
  font-family: 'Corisande' sans-serif;
  color: black;
  width: 850px;
  margin-left: -68px;
}
/* line 1198, main.scss */
#textContentContactUsTravelGuide p {
  font-size: 14px;
  margin-bottom: 26px;
  text-align: justify;
}
/* line 1203, main.scss */
#textContentContactUsTravelGuide h6 {
  font-size: 16px;
}

/* line 1208, main.scss */
.welcomeHeaderTravelGuide {
  font-family: 'MyriadPro', sans-serif;
  font-size: 37.89px;
  text-align: right;
  margin-top: 119px;
  margin-right: 43px;
  background: -webkit-linear-gradient(#525252, #303030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 1220, main.scss */
.welcomeHeaderTravelGuide:after {
  content: "";
  width: 1px;
  height: 388px;
  position: absolute;
  top: 56px;
  left: 300px;
  background-color: #9b9b9b;
  display: block;
  box-shadow: 0px 10px 6px #888888;
}

/* line 1234, main.scss */
.LankaTimes_HeaderPictureTravelGuide {
  background-image: url("../img/travelGuide.jpg");
  height: 100%;
}

/* line 1240, main.scss */
#LankaTimesLogoTravelGuide {
  width: 200px;
  float: right;
  margin-right: 44px;
  margin-top: 11px;
}

/* line 1246, main.scss */
#textColum {
  margin-bottom: -13px;
}

/* line 1249, main.scss */
.ourServiceHeaderTravelGuide {
  font-family: 'Corisande', sans-serif;
  font-size: 26px;
  color: white;
  margin-bottom: 15px;
  margin-left: 26px;
}

/* line 1260, main.scss */
.ourQuickLinkHeaderTravelGuide {
  font-family: 'Corisande', sans-serif;
  font-size: 26px;
  color: white;
  margin-bottom: 15px;
}

/* line 1270, main.scss */
.newsLetterTravelGuide {
  font-family: 'Corisande', sans-serif;
  font-size: 26px;
  color: white;
  margin-bottom: 15px;
}
/* line 1275, main.scss */
.newsLetterTravelGuide #paraSignUp {
  color: white;
}

/* line 1280, main.scss */
.LankaTimes_newsLetterContentTravelGuide ul {
  list-style: none;
  color: white;
}
/* line 1281, main.scss */
.LankaTimes_newsLetterContentTravelGuide ul li {
  font-family: 'Corisande', sans-serif;
  font-size: 14px;
}

/* line 1289, main.scss */
.paginationButton {
  float: right;
  background-color: transparent;
  margin-right: 48px;
}
/* line 1294, main.scss */
.paginationButton #infinity_lanka_Button1 {
  background-color: black;
  border: none;
  color: white;
  height: 22px;
  width: 22px;
  outline: none;
}
/* line 1302, main.scss */
.paginationButton #infinity_lanka_Button2 {
  background-color: transparent;
  border: none;
  height: 22px;
  width: 22px;
  outline: none;
}

@font-face {
  font-family: 'karbon-medium';
  src: url("../fonts/Karbon medium/karbon-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Karbon medium/karbon-medium-webfont.woff") format("woff"), url("../fonts/Karbon medium/karbon-medium-webfont.ttf") format("truetype"), url("../fonts/Karbon medium/karbon-medium-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: 'Bebas';
  src: url("../fonts/Bebas/Bebas.eot?") format("embedded-opentype"), url("../fonts/Bebas/Bebas.woff") format("woff"), url("../fonts/Bebas/Bebas.ttf") format("truetype");
}
@font-face {
  font-family: 'karbon';
  src: url("../fonts/karbon/karbon-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/karbon/karbon-regular-webfont.woff");
}
@font-face {
  font-family: 'KozGoPro';
  src: url("../fonts/KozGoPro/KozGoPro-ExtraLight-AlphaNum.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/KozGoPro/KozGoPro-ExtraLight-AlphaNum.woff");
  src: url("../fonts/KozGoPro/KozGoPro-ExtraLight-AlphaNums.ttf") format("truetype");
}
@font-face {
  font-family: 'Corisande';
  src: url("../fonts/Corisande/CorisandeLight.ttf") format("truetype");
}
@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype");
}
@media (max-width: 994px) {
  /* line 1358, main.scss */
  #infinity_header_menu {
    position: absolute;
    z-index: 100000;
    top: 0px;
    width: 50%;
    height: 100%;
  }
  /* line 1365, main.scss */
  #infinity_header_menu .col-md-6 {
    padding: 0px;
  }
}
@media (max-width: 994px) {
  /* line 1375, main.scss */
  #logoImage {
    float: right;
    margin-right: 28px;
    margin-bottom: 39px;
    margin-top: 6px;
    height: 100;
    width: 100;
  }

  /* line 1385, main.scss */
  .welcomeText {
    margin-top: 185px;
    font-family: 'karbon-medium', sans-serif;
    font-size: 14px;
    /* margin-left: 25px; */
    text-align: justify;
    margin-bottom: 91px;
    color: #323131;
    width: 250px;
  }
}
@media (max-width: 1074px) {
  /* line 1397, main.scss */
  .welcomeText {
    margin-top: 185px;
    font-family: 'karbon-medium', sans-serif;
    font-size: 14px;
    /* margin-left: 25px; */
    text-align: justify;
    margin-bottom: 91px;
    color: #323131;
    width: 500px;
  }

  /* line 1407, main.scss */
  .welcomeHeader:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 134px;
    left: 569px;
    background-color: #9b9b9b;
    display: block;
    box-shadow: 0px 10px 6px #888888;
  }
}
