@import "compass";

@import url(http://fonts.googleapis.com/css?family=Roboto:100);

////////////////////////////////////////  Lanka Times Header //////////////////////////////////////
@media(max-width: 991px){
    .container{
    max-width:860px;
    }
}
.LankaTimes_Header{
   height: 799px; 
}

@media (max-width:1194px){
.LankaTimes_Header{
 //  height: 1000px; 
}
}
#infinity_header_menu{

  position: absolute;
  z-index: 100000;
  top: 0px;
  width: 100%;
  height: 100%;
  .col-md-6{

    padding:0px;
  }
}



#navHeader-colum{
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.54);
  

}



.LankaTimes_HeaderImage{

  .infinity_lanka_packagesPanel{
      background-color: rgba(0, 0, 0, 0);
  width: 457px;
  height: 731px;
  margin-top: 334px;
  float: left;
  margin-right: 50px;

  list-style: none;
  font-family: 'Corisande', sans-serif;
  color: white;
  position: absolute;
   transition: opacity 0.5s;
      transition: all ease 0.5s ;
       #colr{
    //  background-color: rgba(0, 0, 0, 0.54);
      background-color:-webkit-linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0));
        //background-color: -webkit-linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0););
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      border-left: 3px solid rgba(0, 0, 0, 0);
      height: 52px;
      width: 443px;
      padding: 0;
      margin-bottom:1px;
      margin-left:16px;
    //  margin-left: 15px;
    border-left:6px solid rgba(5, 3, 0, 0);
      border-bottom:3px solid rgba(5, 3, 0, 0);
     background-image:linear-gradient(
      to right,
      rgba(0, 0, 0, 0.60),
      rgba(0, 0, 0, 0) 90%
    );

     &:hover{
      background-image:linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0) 90%
    );
      border-left:6px solid #f7941d;
      border-bottom:3px solid #f7941d;
     }


  }
  #colrr{
   // background-color: rgba(0, 0, 0, 0.54);
       border-left: 1px solid rgba(0, 0, 0, 0);
      height: 52px;
      width: 443px;
      padding: 0;
      margin-left:17px;
       border-left:6px solid rgba(5, 3, 0, 0);
      border-bottom:3px solid rgba(5, 3, 0, 0);
      background-image:linear-gradient(
      to right,
      rgba(0, 0, 0, 0.60),
      rgba(0, 0, 0, 0) 90%
    );
     &:hover{
      background-image:linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0) 90%
    );
       border-left:6px solid #f7941d;
      border-bottom:3px solid #f7941d;
     }
  }
  li{
    margin-top: 17px;
  }

  }

  
#packagesImage{
      margin-top: 15px;
      margin-left: 70px;
    }
    #secondImage{
      height: 45px;
      width: 56px;
      margin-left: 37px;
      
    }
    #secondImageElephnt{
      margin-left: -27px;
      margin-top: 18px;
    }
    #thirdImage{
      margin-left: 28px;
      margin-top: 19px;
    }
    #forthImage{
      margin-top: 13px;
      margin-left: 57px;
    }
    #fifthImage{
      margin-top: 10px;
      margin-left: 82px;
    }
    #sixthImage{
      margin-top: 10px;
      margin-left: 35px;
    }
    .packagesText1 ,.packagesText2, .packagesText3, .packagesText4 ,.packagesText5, .packagesText6,.packagesText7{
       font-family: 'Corisande', sans-serif;
      font-size: 14px;
      color: white;
      margin-left: 28px;

     
  
  
 
    }
    


      

	.LankaTimes_weatherBox{
		background-color:rgba(0, 0, 0, 0.54);
  		width: 310px;
  		height: 184px;
        float: right;
        margin-right: 50px;
        list-style: none;
        font-family: 'Corisande', sans-serif;
        color: white;
	}


	.weatherBoxTextLineOne{
    font-size: 22px;
      text-align: center;
      line-height: 0.7em;
        margin-top: 44px;
    margin-bottom: 20px;
    padding-left: 59px;
  }
  .weatherBoxTextLineTwo{
    font-size: 98px;
     text-align: center;
       line-height: 0.65em;
       margin-bottom: 11px;
         padding-left: 39px;
       sup{
          font-size: 59px;
        margin-left: -16px;
       }
  }
  .weatherBoxTextLineThree{
    font-size: 22px;
      line-height: 0.7em;
        text-align: center;
          margin-left: 64px;
  }
	.LankaTimes_MenubuttonListUl{
        list-style: none;
        float: right;
        clear: both;
  
		a{
			text-decoration: none;
			color: #d6d1d1;
			text-align: right;
			font-family: 'karbon-medium', sans-serif;
  		font-size: 18px;
      padding-right: 10px;
      line-height: 0.7em;
      padding-top: 9px;
      padding-bottom: 10px;
      display: block;
       transition: opacity 0.5s;
      transition: all ease 0.5s ;
		}
    a:hover{
      background-color:#877c74;
     
      transition: all ease 0.5s ;

    }
		li:hover{
			

     
      transition: all ease 0.5s ;
			border-right:6px solid #f7941d;
			border-bottom:3px solid #f7941d;
      a{

        background-color:#877c74;
      }
     
		}
		
		li{
     // transition: opacity 0.5s;
      transition: all ease 0.5s ;
      
      
			margin-bottom: 18px;
			text-align: right;
			margin-right: 10px;
			width: 130px;
  		height: 30px;		
      padding-right: 7px;
      padding-bottom: 36px;
      border-right:6px solid rgba(5, 3, 0, 0);
      border-bottom:3px solid rgba(5, 3, 0, 0);
		}
	}
}


.LankaTimes_HeaderImage_darkSide{
		width: 50%;
		height: 100%;
		background-color:rgba(0, 0, 0, 0.54);
		position: absolute;
		left: 0;
  	z-index: 200;
  	top: 0;  			
}

@media (max-width:994px){

.LankaTimes_HeaderImage_darkSide{
    width: 10%;
    height: 150%;
    background-color:black;
    position: absolute;
    left: 0;
    z-index: 200;
    top: 0;       
}
}
#sun_cloudsImage{
      margin-left: -57px;
  margin-top: -97px;
}
#logoImage{
    float: right;
    margin-right: 28px;  
    margin-bottom: 39px;  
    margin-top: 138px;

}



.LankaTimes_HeaderImageTextAndLable{
  //background-color: white;
  width: 353px;
  height: 199px;
  clear: both;
  float: right;
    margin-top: -200px;
   list-style: none;
   color: white;
   font-family: 'Roboto', sans-serif;
  font-size: 73px;
  text-align: right;
  padding-right: 24px;
      width: 354px;
}
.imageText{
  line-height: 0.8em;
  margin-top: 625px;
  
}
.imageTextHome{
  line-height: 0.8em;
  margin-top: 10px;
  
}
.imageTextSmall{
  font-size: 36px;
  font-family: 'karbon', sans-serif;
    margin-top: -31px;
    text-align: right;
    padding-right: 24px;
    width: 354px;
    line-height: 0.7em;
    margin-top: 10px;
  
}
.polygonText{
  position:absolute;
  font-size: 21px;
  font-family: 'karbon', sans-serif;
  margin-left: 101px;
  margin-top: -36px;
  
}
.polygonImage{
  line-height: 0.4em;
  margin-top: 31px;

}



.polygonText:hover{
  transform: scale(1.05, 1.05);
    transition: all 0.4s ease-in-out;

}

#infinity_Lanka_polygonImage:hover{
    transform: scale(1.1, 1.1);
    transition: all 0.4s ease-in-out;
}
.tparrows:before {
 
  margin-top: 7px ;
  }
	
/////////////////////////////////////// Lanka Times Header End ///////////////////////////////////

.LankaTimes_middleImage{
	background-image: url("../img/Layer 39.jpg");	
	width:100%;
	height:1196px;
}
.LankaTimes_slider{
  position:relative;
  width: 409px;
  height: 324px; 
  background-color: rgba(0, 0, 0, 0.52);
  margin-top: 44px;
  z-index: 200;
  font-family: 'karbon-medium', sans-serif;
  font-size: 41px;
  color: white;
  #sliderHeader{
    margin-left: 102px;
      margin-bottom: 10;
  }
  #sliderHeaderColombo{
    margin-left: 125px;  
    margin-bottom: 10;
  }
  #sliderHeaderBentota{
    margin-left: 132px;
      margin-bottom: 10;
  }
  }
#description{
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  text-align: justify;

}
#description1{
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  text-align: justify;

}
#description2{
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  text-align: justify;

}
.aboutHeader1{
  width: 370px;
    margin-left: 19px;
    list-style: none;
    li{

    }
}
.sliderImage{
  
  z-index: 200;
  margin-top: -378px;
  width: 412px;
  height: 10px;

}
#sliderImg{
  z-index: 300;
  position:relative;
  margin-top: 9px;
}
.mainSlider{
    margin-left: 24px;
}
.middle{
	height:100px;
	width:100%;
	background-color: black;
}
#hotelFounder_readMoreButton{
    width: 132px;
  height: 51px;
  border-radius: 15px;
  border-color: white;
  background-color:rgba(255, 255, 255, 0.11);
  float: right;
  margin-right: 19px;
  margin-top: -53px;
  position: absolute;
  top: 308px;
  outline: none;
  left: 257px;


  &:hover{
    background-color:rgba(255, 255, 255, 0.25);
     transform: scale(1.02, 1.02);
       transition: all 0.4s ease-in-out;
     // transition-delay: 2s;
  }
}

#infinity_lanka_sliderNextButton:hover{
   background:rgba(6, 0, 0, 1);
    transform: scale(1.1,1.1); 
}
#infinity_lanka_sliderPreviousButton:hover{
   background: rgba(6, 0, 0, 1);
      transform: scale(1.1,1.1); 
}
#buttonText{
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  color: white;
}
.welcomeHeader{
	font-family: 'Bebas', sans-serif;
  font-size: 60px;
  text-align: right;
  margin-top: 185px;
  margin-right: 20px;
  background: -webkit-linear-gradient(#525252, #303030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcomeHeader:after{
	  content: "";
  width: 1px;
  height: 614px;
  position: absolute;
  top: 134px;
   left: 569px;
  background-color: #9b9b9b;
  display: block;
  box-shadow: 0px 10px 6px #888888;
}
.welcomeText{
	  margin-top: 185px;
	font-family: 'karbon-medium', sans-serif;
  	font-size: 14px;
  	 margin-left: 25px;
  	text-align: justify;
    margin-bottom:91px;
    color: #323131;
}
#textContent{
	width:535px;
}
.LankaTimes_logoSmall{
	  //  margin-top: -414px;
  
}
#LankaTimesLogo{
  width: 200px;
    float: right;
  margin-right: 20px;
  margin-top: 38px;
}
.LankaTimes_fotterImage{
	//background-image: url("../img/fotterImage.jpg");	
	width:100%;
	height:632px;
	margin-top:-18px;
	position: relative;
	z-index:50;
}
#hotelFounderSlideContainer{
    width: 100%;
  height: 100%;
  padding:0px;
  //border:1px solid gray;
  box-sizing:border-box;
  //background: black;  
  margin-top: 23px;
}
.slider_wrapper{
  overflow: hidden;
  position:relative;
  padding-left:0px;
  height:280px;
  top:auto;
  width:100%;
  height: 100%;
}
#hotelFounder_image_slider{

  position: relative;
  height: auto;
  list-style: none;
  overflow: hidden;
  float: left;
   padding-top: 89px;
  margin:0px;
    width: 100%;
  height: 100%;
}
#hotelFounder_image_slider li{
  position: relative;
  float: left;
  //  width: 100%;
 // height: 100%;
}
.LankaTimes_socialIcons{
    float: right;
    clear: both;
    margin-top: 49px;
    margin-bottom: 20px;
    margin-right: 32px;
  #sIcon{
    margin-right: 22px;
  }

}

.LankaTimes_allRightsText{
    text-align: right;
    float: right;
    margin-right: 30px;
   clear: both;
  p{
      font-family: 'Corisande', sans-serif;
    font-size: 14px;
    line-height: 0.99em;
      margin-bottom: 5px;
  }
}

#infinity_lanka_sliderNextButton{
  z-index: 400;
  position: relative;
  float: right;
  height: 20px;
  width: 20px;
    padding: 0;
    border-color: transparent;
  background-color: rgba(6, 0, 0, 0.45);
    line-height: 0.4em;
    padding-bottom: 2px;
      outline: none;
}
#infinity_lanka_sliderPreviousButton{
  z-index: 400;
  position: relative;
  float: right;
  height: 20px;
  width: 20px;
    padding: 0;
  margin-right: 5px;
    border-color: transparent;
  background-color: rgba(6, 0, 0, 0.45);
    line-height: 0.4em;
    padding-bottom: 2px;
      outline: none;
}
.sliderButtonDiv{
  margin-top: -38px;
  margin-right: 10px;
}
#Infinity_Lanka_contactUsForm{
    margin-top: 185px;
     margin-left: 28px;
}
  
/////////////////////////////////////////////////////////////////////////////////////////////////////////////
.LankaTimes_fotter{
	width:100%;
	height:636px;
	background-color: #3a3a3a;
      
       margin-top: -259px;

  h6{
    margin-bottom:17px;
  }

}
.ourServiceHeader{
	font-family: 'Corisande', sans-serif;
  	font-size: 26px;
  	color: white;
  	margin-top:222px;
  	
      margin-left: 26px;

  	
}

.ourServiceHeaderDescription{
	font-family: 'Corisande', sans-serif;
  	font-size: 14px;
  	color: white;
  	width: 447px;
  	text-align: justify;
      margin-left: 26px;
}
.ourServiceHeaderDescription:after{
	content:"";
  width: 447px;
  height: 2px;
  padding:2px;
  background-color:#9b9b9b;
  display: block;
  margin-top: 23px;
}
.ourQuickLinkHeader{
	font-family: 'Corisande', sans-serif;
  	font-size: 26px;
  	color: white;
  	margin-top:222px;
  	
  	
}
#quickLinksUl{
	list-style: none;
	li{
  		  margin-bottom: 12px;
  		a{
  			color: white;
        font-family: 'Corisande', sans-serif;
        font-size: 14px;
  		}
  	}
}
.newsLetter{
	font-family: 'Corisande', sans-serif;
  font-size: 26px;
  color: white;
  margin-top:222px; 
  #paraSignUp{
    color: white;
  }
}
.LankaTimes_newsLetterContent{
  ul{
    li{
      font-family: 'Corisande', sans-serif;
      font-size: 14px;
    }
    list-style: none;
    color: white;
  }
}

#hotelFounder_subscribeButton{
  background-color: #e19002;
  border-color: #e19002;
  width: 99px;
  height: 31px;
  color: white;
  outline: none;
    
    padding: 0px;

}
.textFieldAndButton{
    margin-top: 27px;
  margin-bottom: 34px;
}
#sIcon2{
    margin-bottom: 17px;
}
.socialIcon{
    margin-left: 26px;
  
}
#socialIconText{
    font-family: 'Corisande', sans-serif;
    font-size: 15px;
    margin-left: 42px;
    margin-top: 20px;
  }
.LankaTimes_fotterLogo{
  position:absolute;
    margin-left: 182px;
  margin-top: -61px;
}
#fotterLogo{
  width: 163px;
  height: 73px;
}
#hotelFounder_subscribeField{
  background-color: #3a3a3a;
   height: 31px;
   width: 180px;
   outline: none;
   padding: 0px;
  
}
.sliderSocialIcon{
  position: absolute;
  top: 250;
}
///////////////fotter sprite icon/////////////////////////

.LankaTimes_location{
  background-image:url('../img/iconsSet.png');
  background-position:0 0px;
  background-repeat:no-repeat;
    width: 215px;
  height:31px;
  display: block;

}
.LankaTimes_mail{
  background-image:url('../img/iconsSet.png');
  background-position:0 -31px;

  background-repeat:no-repeat;
  width:30px;
  height:20px;
  display: block;
}
.LankaTimes_phone{
  background-image:url('../img/iconsSet.png');
  background-position:0 -51px;
  background-repeat:no-repeat;
    width: 206px;
  height:25px;
  display: block;
    margin-left: 62px;
}

.LankaTimes_web{
  background-image:url('../img/iconsSet.png');
  background-position:0 -76px;
  background-repeat:no-repeat;
  width:31px;
  height:28px;
  display: block;
    margin-left: 62px;

}
#contactUsHeader{
  list-style:none;
    margin-top: 19px;
  margin-bottom: 15px;
  font-family: 'Corisande', sans-serif;
  font-size: 26px;
  color: white;
  li{
      margin-left: 26px;
  }
}
#sIcon3{
    margin-bottom: 22px;
}
#sIcon4{
    margin-bottom: 30px;
}
#colum{
  width: 180px;
  height: 98px;
  color: white;
}
.textColor{
  color: white;
}
#iconText{
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  margin-left: 47px;
}
.specialId{
  margin-bottom: 10px;
}

/////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////////////


///////////////////////////////////// Social Sprite Image//////////////////////////////////////////////////////

.LankaTimes_faceBookIcon{
  background-image:url('../img/lankaTimeSprite.png');
  background-position:0 0px;
  background-repeat:no-repeat;
  width:12px;
  height:27px;
  display: inline-block;

}
.LankaTimes_twitterIcon{
  background-image:url('../img/lankaTimeSprite.png');
  background-position:0 -53px;

  background-repeat:no-repeat;
  width:29px;height:23px;
  display: inline-block;
}
.LankaTimes_googleIcon{
  background-image:url('../img/lankaTimeSprite.png');
  background-position:0 -27px;
  background-repeat:no-repeat;
  width:27px;height:26px;
  display: inline-block;
}

.faceBookIcon{
  background-image:url('../img/icons2.png');
  background-position:0 0px;
  background-repeat:no-repeat;
  width:12px;
  height:27px;
  display: block;

}
.twitterIcon{
  background-image:url('../img/icons2.png');
  background-position:0 -53px;

  background-repeat:no-repeat;
  width:29px;
  height:23px;
  display:block;
}
.pinterest{
  background-image:url('../img/icons2.png');
  background-position:0 -27px;
  background-repeat:no-repeat;
  width:20px;
  height:26px;
  display: block;
}




//////////////////////////////////////////////////////////////////////////////////////////////////////////////


/////////////////////////////////Slider Sprite Icon//////////////////////////////////////////////

.sliderFacebookIcon{
  background-image:url('../img/icons2.png');
  background-position:0 0px;
  background-repeat:no-repeat;
  width:12px;
  height:27px;
  display: inline-block;;

}
.sliderTwitterIcon{
  background-image:url('../img/icons2.png');
  background-position:0 -53px;

  background-repeat:no-repeat;
  width:29px;
  height:23px;
  display:inline-block;;
}
.sliderPinterestIcon{
  background-image:url('../img/icons2.png');
  background-position:0 -27px;
  background-repeat:no-repeat;
  width:20px;
  height:26px;
  display: inline-block;
}
#SliderfbIcon{
  margin-left: 77px;
  margin-right: 38px;
}
#SliderTwiIcon{
  margin-right: 38px;
}
#sliderPiIcon{
  margin-top: 19px;
}
.mainColum{
      height: 963px;
}

//////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////Slider Style/////////////////////////////////////////

.tp-rightarrow.default{ 

  z-index:100;
  cursor:pointer; 
  position:relative;
    background:url(../assets/large_right.png) no-Repeat 0 0; 
     width:40px; height:40px;
     opacity: 1;

     }



///////////////////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////// Infinity Lanka Style ///////////////////////////////////

#Infinity_Lanka_lable{
  line-height: 0.9;
  margin-bottom: 11px;
  margin-top: 11px;
}
.form-control{
  height: 36px;
  border-color:  #969696;
  background-color: rgba(255, 255, 255, 0.29);
    padding: 0;
  width: 371px;
  
}
 #Infinity_Lanka_contactUsTextArea{
  margin-bottom: 24px;
 }

 #Infinity_Lanka_contactUsSubmitButton{
    float: right;
    height: 35px;
    width:98px;
    background-color:#ee8d00;
      font-family: 'karbon-medium' sans-serif;
  color: white;
  font-size: 15px;
    margin-right: 105px;
  }  
#Infinity_Lanka_contactUsForm{
  font-family: 'Corisande', sans-serif;
  font-size: 15px;
  color: #323131;
}
.infinty_lanka_map{
    height: 528px;
  width:  100%;
  border: 10px solid #ffffff;
  margin-top: -370px;
  z-index: 2000;
  position: relative;
  
}
#Infinity_Lanka_contactUsTextArea{
  height: 165px;
}
#mapFrame{
    -webkit-filter: grayscale(100%);
}

#mapContainer{
  padding:0px;
   
  padding-bottom: 102px;
    padding-left: 0;
}
.LankaTimes_HeaderPicture{
  background-image:url('../img/Layer83.jpg');
  height: 100%;
}

////////////////////////////////////////////About Us Style //////////////////////////////////////////////////
  .LankaTimes_fotterAboutUs{

  width: 100%;
  height: 636px;
  background-color: #3a3a3a;
  margin-top: -339px;
  }
////////////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////// Contact Us Style/////////////////////////////////////////////////
.LankaTimes_HeaderPictureContactUs {
  background-image: url("../img/Layer84.jpg");
  height: 100%;
}
#textContentContactUs{
  margin-top:215px;
    font-family: 'karbon-medium' sans-serif;
 
  color: black;
   width: 823px;
  margin-left: -43px;
  p{
     font-size: 14px;
    margin-bottom: 26px;
    text-align: justify;
  }
}
.welcomeHeaderContactUs{
    font-family: 'Bebas', sans-serif;
  font-size: 37.89px;
  text-align: right;
  margin-top: 245px;
  margin-right: 20px;
  background: -webkit-linear-gradient(#525252, #303030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;



  &:after{

    content: "";
  width: 1px;
  height: 388px;
  position: absolute;
    top: 208px;
   left: 322px;
  background-color: #9b9b9b;
  display: block;
  box-shadow: 0px 10px 6px #888888;

  }
}
#LankaTimesLogoContactUs{  
  width: 200px;
  float: right;
  margin-right: 20px;
  margin-top: 38px;
}
.mainColumContactUs{
     width: 307px;  
     height: 878px;     

}
.LankaTimes_fotterContactUs{
  width:100%;
  height:636px;
  background-color: #3a3a3a;
       margin-top: -327px;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////Infinity Lanka Gallry Page Style//////////////////////////////////

.infinty_lanka_ImageViewer{
    height: 528px;
  width:  100%;
  border: 10px solid #ffffff;
  margin-top: -370px;
  z-index: 2000;
  position: relative;
  
}
#imageContainer{
  padding:0px;
   
  padding-bottom: 102px;
  padding-left: 0;
}


.LankaTimes_HeaderPictureGallery {
  background-image: url("../img/Layer83.jpg");
  height: 100%;
}
.gallerySmallImages{
  margin: 3px;
  &:hover{
    transform: scale(0.9,0.9);
    transition: all 0.4s ease-in-out;
    -webkit-transition: 1.3s ease;
    transition: 1.3s ease;
   // z-index: 200;
     opacity: 0.5;
     clip: rect(5px, 5px, 5px, 5px);
  }

   
}
.infinity_lanka_gallery{
  margin-top: 114px;
    margin-left: -39px;
}

.second_field_gallery{
  margin-left: 3px;
}
.third_field_gallery{
  margin-left: 6px;
   
}

.fourth_field_gallery{
  margin-left: 1px;
  margin-top: 130px;
}

.welcomeHeaderGallery{
    font-family: 'Bebas', sans-serif;
  font-size: 37.89px;
  text-align: right;
  margin-top: 203px;
  margin-right: 20px;
  background: -webkit-linear-gradient(#525252, #303030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;



  &:after{

    content: "";
  width: 1px;
  height: 290px;
  position: absolute;
    top: 162px;
   left: 322px;
  background-color: #9b9b9b;
  display: block;
  box-shadow: 0px 10px 6px #888888;

  }
}
#kl{
  //background-image: url("../img/Layer121.jpg");
  width: 1090px;
  height: 508px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////// Travel Guide Style ////////////////////////////////////////////////

.LankaTimes_fotterTravelGuide{
  width:100%;
  height:463px;
  background-color: #3a3a3a;
       margin-top: -24px;
}

#textContentContactUsTravelGuide{
   margin-top: 70px;
  font-family: 'Corisande' sans-serif;
  color: black;
  width: 850px;
  margin-left: -68px;
  p{
     font-size: 14px;
    margin-bottom: 26px;
    text-align: justify;
  }
  h6{
    font-size: 16px;
  }
}

.welcomeHeaderTravelGuide{
    font-family: 'MyriadPro', sans-serif;
  font-size: 37.89px;
  text-align: right;
  margin-top: 119px;
  margin-right: 43px;
  background: -webkit-linear-gradient(#525252, #303030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;



  &:after{

    content: "";
  width: 1px;
  height: 388px;
  position: absolute;
    top: 56px;
   left: 300px;
  background-color: #9b9b9b;
  display: block;
  box-shadow: 0px 10px 6px #888888;

  }
}
.LankaTimes_HeaderPictureTravelGuide{
  background-image: url("../img/travelGuide.jpg");
  height: 100%;

}

#LankaTimesLogoTravelGuide {
  width: 200px;
  float: right;
  margin-right: 44px;
  margin-top: 11px;
}
#textColum{
  margin-bottom: -13px;
}
.ourServiceHeaderTravelGuide{
  font-family: 'Corisande', sans-serif;
    font-size: 26px;
    color: white;
   // margin-top:222px;
   margin-bottom: 15px;
    
      margin-left: 26px;

    
}
.ourQuickLinkHeaderTravelGuide{
  font-family: 'Corisande', sans-serif;
    font-size: 26px;
    color: white;
     margin-bottom: 15px;
  
    
    
}

.newsLetterTravelGuide{
  font-family: 'Corisande', sans-serif;
  font-size: 26px;
  color: white;
  margin-bottom: 15px;
  #paraSignUp{
    color: white;
  }
}
.LankaTimes_newsLetterContentTravelGuide{
  ul{
    li{
      font-family: 'Corisande', sans-serif;
      font-size: 14px;
    }
    list-style: none;
    color: white;
  }
}
.paginationButton{
  float: right;
  background-color:rgba(0,0,0,0);
  margin-right: 48px;

  #infinity_lanka_Button1{
      background-color: black;
      border:none;
      color: white;
      height: 22px;
      width: 22px;
      outline: none;
  }
  #infinity_lanka_Button2{
      background-color: transparent;
      border:none;
      height: 22px;
      width: 22px;
      outline: none;
  }
}


///////////////////////////////////////////////////////////////////////////////////////////////////////////

@font-face {
  font-family: 'karbon-medium';
  src: url('../fonts/Karbon medium/karbon-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Karbon medium/karbon-medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Karbon medium/karbon-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Karbon medium/karbon-medium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas/Bebas.eot?') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Bebas/Bebas.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Bebas/Bebas.ttf')  format('truetype'), /* Safari, Android, iOS */
       
}
@font-face {
  font-family: 'karbon';
  src: url('../fonts/karbon/karbon-regular-webfont.eot'); /* IE9 Compat Modes */
    src:  url('../fonts/karbon/karbon-regular-webfont.woff'); 
}

@font-face {
  font-family: 'KozGoPro';
  src: url('../fonts/KozGoPro/KozGoPro-ExtraLight-AlphaNum.eot'); /* IE9 Compat Modes */
    src:  url('../fonts/KozGoPro/KozGoPro-ExtraLight-AlphaNum.woff'); 
   src: url('../fonts/KozGoPro/KozGoPro-ExtraLight-AlphaNums.ttf')  format('truetype');
}

@font-face {
  font-family: 'Corisande';

   src: url('../fonts/Corisande/CorisandeLight.ttf')  format('truetype');
}


@font-face {
  font-family: 'MyriadPro';

   src: url('../fonts/MyriadPro/MyriadPro-Regular.ttf')  format('truetype');
}


/////////////////////////////////////////// Media Quary////////////////////////////////////

@media(max-width: 994px){
#infinity_header_menu{

  position: absolute;
  z-index: 100000;
  top: 0px;
  width: 50%;
  height: 100%;
  .col-md-6{

    padding:0px;
  }
}


}

@media (max-width:994px){
#logoImage{
    float: right;
    margin-right: 28px;  
    margin-bottom: 39px;  
    margin-top: 6px;
    height: 100;
    width: 100;
  }


.welcomeText {
  margin-top: 185px;
  font-family: 'karbon-medium', sans-serif;
  font-size: 14px;
  /* margin-left: 25px; */
  text-align: justify;
  margin-bottom: 91px;
  color: #323131;
  width: 250px;
  }
}
@media (max-width:1074px){
.welcomeText {
  margin-top: 185px;
  font-family: 'karbon-medium', sans-serif;
  font-size: 14px;
  /* margin-left: 25px; */
  text-align: justify;
  margin-bottom: 91px;
  color: #323131;
  width: 500px;
  }
  .welcomeHeader:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 134px;
  left: 569px;
  background-color: #9b9b9b;
  display: block;
  box-shadow: 0px 10px 6px #888888;
}

}
//////////////////////////////////////////////////////////////////////////////////////////