@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@media (max-width: 991px) {
  /* line 7, main.scss */
  .container {
    max-width: 860px;
  }
}
/* line 11, main.scss */
.LankaTimes_Header {
  height: 799px;
}

/* line 20, main.scss */
#infinity_header_menu {
  position: absolute;
  z-index: 100000;
  top: 0px;
  width: 100%;
  height: 100%;
}
/* line 27, main.scss */
#infinity_header_menu .col-md-6 {
  padding: 0px;
}

/* line 35, main.scss */
#navHeader-colum {
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.54);
}

/* line 47, main.scss */
.LankaTimes_HeaderImage .LankaTimes_weatherBox {
  background-color: rgba(0, 0, 0, 0.54);
  width: 310px;
  height: 184px;
  float: right;
  margin-right: 50px;
  list-style: none;
  font-family: 'Corisande', sans-serif;
  color: white;
}
/* line 59, main.scss */
.LankaTimes_HeaderImage .weatherBoxTextLineOne {
  font-size: 22px;
  text-align: center;
  line-height: 0.7em;
  margin-top: 44px;
  margin-bottom: 20px;
  padding-left: 59px;
}
/* line 67, main.scss */
.LankaTimes_HeaderImage .weatherBoxTextLineTwo {
  font-size: 98px;
  text-align: center;
  line-height: 0.65em;
  margin-bottom: 11px;
  padding-left: 39px;
}
/* line 73, main.scss */
.LankaTimes_HeaderImage .weatherBoxTextLineTwo sup {
  font-size: 59px;
  margin-left: -16px;
}
/* line 78, main.scss */
.LankaTimes_HeaderImage .weatherBoxTextLineThree {
  font-size: 22px;
  line-height: 0.7em;
  text-align: center;
  margin-left: 64px;
}
/* line 84, main.scss */
.LankaTimes_HeaderImage .LankaTimes_MenubuttonListUl {
  list-style: none;
  float: right;
  clear: both;
}
/* line 89, main.scss */
.LankaTimes_HeaderImage .LankaTimes_MenubuttonListUl a {
  text-decoration: none;
  color: #d6d1d1;
  text-align: right;
  font-family: 'karbon-medium', sans-serif;
  font-size: 18px;
  padding-right: 10px;
  line-height: 0.7em;
  padding-top: 9px;
  padding-bottom: 10px;
  display: block;
  transition: opacity 0.5s;
  transition: all ease 0.5s;
}
/* line 103, main.scss */
.LankaTimes_HeaderImage .LankaTimes_MenubuttonListUl a:hover {
  background-color: #877c74;
  transition: all ease 0.5s;
}
/* line 109, main.scss */
.LankaTimes_HeaderImage .LankaTimes_MenubuttonListUl li:hover {
  transition: all ease 0.5s;
  border-right: 6px solid #f7941d;
  border-bottom: 3px solid #f7941d;
}
/* line 116, main.scss */
.LankaTimes_HeaderImage .LankaTimes_MenubuttonListUl li:hover a {
  background-color: #877c74;
}
/* line 123, main.scss */
.LankaTimes_HeaderImage .LankaTimes_MenubuttonListUl li {
  transition: all ease 0.5s;
  margin-bottom: 18px;
  text-align: right;
  margin-right: 10px;
  width: 130px;
  height: 30px;
  padding-right: 7px;
  padding-bottom: 36px;
  border-right: 6px solid rgba(5, 3, 0, 0);
  border-bottom: 3px solid rgba(5, 3, 0, 0);
}

/* line 142, main.scss */
.LankaTimes_HeaderImage_darkSide {
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);
  position: absolute;
  left: 0;
  z-index: 200;
  top: 0;
}

@media (max-width: 994px) {
  /* line 154, main.scss */
  .LankaTimes_HeaderImage_darkSide {
    width: 10%;
    height: 150%;
    background-color: black;
    position: absolute;
    left: 0;
    z-index: 200;
    top: 0;
  }
}
/* line 164, main.scss */
#sun_cloudsImage {
  margin-left: -57px;
  margin-top: -97px;
}

/* line 168, main.scss */
#logoImage {
  float: right;
  margin-right: 28px;
  margin-bottom: 39px;
  margin-top: 138px;
}

/* line 178, main.scss */
.LankaTimes_HeaderImageTextAndLable {
  width: 353px;
  height: 199px;
  clear: both;
  float: right;
  margin-top: 417px;
  list-style: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 73px;
  text-align: right;
  padding-right: 24px;
  width: 354px;
}

/* line 193, main.scss */
.imageText {
  line-height: 0.8em;
  margin-top: 9px;
}

/* line 198, main.scss */
.imageTextSmall {
  font-size: 36px;
  font-family: 'karbon', sans-serif;
  margin-top: -31px;
  text-align: right;
  padding-right: 24px;
  width: 354px;
  line-height: 0.7em;
  margin-top: 10px;
}

/* line 209, main.scss */
.polygonText {
  position: absolute;
  font-size: 21px;
  font-family: 'karbon', sans-serif;
  margin-left: 101px;
  margin-top: -36px;
}

/* line 217, main.scss */
.polygonImage {
  line-height: 0.4em;
  margin-top: 31px;
}

/* line 225, main.scss */
.polygonText:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.4s ease-in-out;
}

/* line 231, main.scss */
#infinity_Lanka_polygonImage:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.4s ease-in-out;
}

/* line 235, main.scss */
.tparrows:before {
  margin-top: 7px;
}

/* line 242, main.scss */
.LankaTimes_middleImage {
  background-image: url("../img/Layer 39.jpg");
  width: 100%;
  height: 1196px;
}

/* line 247, main.scss */
.LankaTimes_slider {
  position: relative;
  width: 409px;
  height: 324px;
  background-color: rgba(0, 0, 0, 0.52);
  margin-top: 44px;
  z-index: 200;
  font-family: 'karbon-medium', sans-serif;
  font-size: 41px;
  color: white;
}
/* line 257, main.scss */
.LankaTimes_slider #sliderHeader {
  margin-left: 102px;
  margin-bottom: 10;
}
/* line 261, main.scss */
.LankaTimes_slider #sliderHeaderColombo {
  margin-left: 125px;
  margin-bottom: 10;
}
/* line 265, main.scss */
.LankaTimes_slider #sliderHeaderBentota {
  margin-left: 132px;
  margin-bottom: 10;
}

/* line 270, main.scss */
#description {
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  text-align: justify;
}

/* line 276, main.scss */
#description1 {
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  text-align: justify;
}

/* line 282, main.scss */
#description2 {
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  text-align: justify;
}

/* line 288, main.scss */
.aboutHeader1 {
  width: 370px;
  margin-left: 19px;
  list-style: none;
}

/* line 296, main.scss */
.sliderImage {
  z-index: 200;
  margin-top: -378px;
  width: 412px;
  height: 10px;
}

/* line 304, main.scss */
#sliderImg {
  z-index: 300;
  position: relative;
  margin-top: 9px;
}

/* line 309, main.scss */
.mainSlider {
  margin-left: 24px;
}

/* line 312, main.scss */
.middle {
  height: 100px;
  width: 100%;
  background-color: black;
}

/* line 317, main.scss */
#hotelFounder_readMoreButton {
  width: 132px;
  height: 51px;
  border-radius: 15px;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.11);
  float: right;
  margin-right: 19px;
  margin-top: -53px;
  position: absolute;
  top: 308px;
  outline: none;
  left: 257px;
}
/* line 332, main.scss */
#hotelFounder_readMoreButton:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transform: scale(1.02, 1.02);
  transition: all 0.4s ease-in-out;
}

/* line 340, main.scss */
#infinity_lanka_sliderNextButton:hover {
  background: #060000;
  transform: scale(1.1, 1.1);
}

/* line 344, main.scss */
#infinity_lanka_sliderPreviousButton:hover {
  background: #060000;
  transform: scale(1.1, 1.1);
}

/* line 348, main.scss */
#buttonText {
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  color: white;
}

/* line 353, main.scss */
.welcomeHeader {
  font-family: 'Bebas', sans-serif;
  font-size: 60px;
  text-align: right;
  margin-top: 185px;
  margin-right: 20px;
  background: -webkit-linear-gradient(#525252, #303030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 363, main.scss */
.welcomeHeader:after {
  content: "";
  width: 1px;
  height: 614px;
  position: absolute;
  top: 134px;
  left: 569px;
  background-color: #9b9b9b;
  display: block;
  box-shadow: 0px 10px 6px #888888;
}

/* line 374, main.scss */
.welcomeText {
  margin-top: 185px;
  font-family: 'karbon-medium', sans-serif;
  font-size: 14px;
  margin-left: 25px;
  text-align: justify;
  margin-bottom: 91px;
  color: #323131;
}

/* line 383, main.scss */
#textContent {
  width: 535px;
}

/* line 390, main.scss */
#LankaTimesLogo {
  width: 200px;
  float: right;
  margin-right: 20px;
  margin-top: 38px;
}

/* line 396, main.scss */
.LankaTimes_fotterImage {
  width: 100%;
  height: 632px;
  margin-top: -18px;
  position: relative;
  z-index: 50;
}

/* line 404, main.scss */
#hotelFounderSlideContainer {
  width: 100%;
  height: 100%;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 23px;
}

/* line 413, main.scss */
.slider_wrapper {
  overflow: hidden;
  position: relative;
  padding-left: 0px;
  height: 280px;
  top: auto;
  width: 100%;
  height: 100%;
}

/* line 422, main.scss */
#hotelFounder_image_slider {
  position: relative;
  height: auto;
  list-style: none;
  overflow: hidden;
  float: left;
  padding-top: 89px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

/* line 434, main.scss */
#hotelFounder_image_slider li {
  position: relative;
  float: left;
}

/* line 440, main.scss */
.LankaTimes_socialIcons {
  float: right;
  clear: both;
  margin-top: 49px;
  margin-bottom: 20px;
  margin-right: 32px;
}
/* line 446, main.scss */
.LankaTimes_socialIcons #sIcon {
  margin-right: 22px;
}

/* line 452, main.scss */
.LankaTimes_allRightsText {
  text-align: right;
  float: right;
  margin-right: 30px;
  clear: both;
}
/* line 457, main.scss */
.LankaTimes_allRightsText p {
  font-family: 'Corisande', sans-serif;
  font-size: 14px;
  line-height: 0.99em;
  margin-bottom: 5px;
}

/* line 465, main.scss */
#infinity_lanka_sliderNextButton {
  z-index: 400;
  position: relative;
  float: right;
  height: 20px;
  width: 20px;
  padding: 0;
  border-color: transparent;
  background-color: rgba(6, 0, 0, 0.45);
  line-height: 0.4em;
  padding-bottom: 2px;
  outline: none;
}

/* line 478, main.scss */
#infinity_lanka_sliderPreviousButton {
  z-index: 400;
  position: relative;
  float: right;
  height: 20px;
  width: 20px;
  padding: 0;
  margin-right: 5px;
  border-color: transparent;
  background-color: rgba(6, 0, 0, 0.45);
  line-height: 0.4em;
  padding-bottom: 2px;
  outline: none;
}

/* line 492, main.scss */
.sliderButtonDiv {
  margin-top: -38px;
  margin-right: 10px;
}

/* line 496, main.scss */
#Infinity_Lanka_contactUsForm {
  margin-top: 185px;
  margin-left: 28px;
}

/* line 502, main.scss */
.LankaTimes_fotter {
  width: 100%;
  height: 636px;
  background-color: #3a3a3a;
  margin-top: -259px;
}
/* line 509, main.scss */
.LankaTimes_fotter h6 {
  margin-bottom: 17px;
}

/* line 514, main.scss */
.ourServiceHeader {
  font-family: 'Corisande', sans-serif;
  font-size: 26px;
  color: white;
  margin-top: 222px;
  margin-left: 26px;
}

/* line 525, main.scss */
.ourServiceHeaderDescription {
  font-family: 'Corisande', sans-serif;
  font-size: 14px;
  color: white;
  width: 447px;
  text-align: justify;
  margin-left: 26px;
}

/* line 533, main.scss */
.ourServiceHeaderDescription:after {
  content: "";
  width: 447px;
  height: 2px;
  padding: 2px;
  background-color: #9b9b9b;
  display: block;
  margin-top: 23px;
}

/* line 542, main.scss */
.ourQuickLinkHeader {
  font-family: 'Corisande', sans-serif;
  font-size: 26px;
  color: white;
  margin-top: 222px;
}

/* line 550, main.scss */
#quickLinksUl {
  list-style: none;
}
/* line 552, main.scss */
#quickLinksUl li {
  margin-bottom: 12px;
}
/* line 554, main.scss */
#quickLinksUl li a {
  color: white;
  font-family: 'Corisande', sans-serif;
  font-size: 14px;
}

/* line 561, main.scss */
.newsLetter {
  font-family: 'Corisande', sans-serif;
  font-size: 26px;
  color: white;
  margin-top: 222px;
}
/* line 566, main.scss */
.newsLetter #paraSignUp {
  color: white;
}

/* line 571, main.scss */
.LankaTimes_newsLetterContent ul {
  list-style: none;
  color: white;
}
/* line 572, main.scss */
.LankaTimes_newsLetterContent ul li {
  font-family: 'Corisande', sans-serif;
  font-size: 14px;
}

/* line 581, main.scss */
#hotelFounder_subscribeButton {
  background-color: #e19002;
  border-color: #e19002;
  width: 99px;
  height: 31px;
  color: white;
  outline: none;
  padding: 0px;
}

/* line 592, main.scss */
.textFieldAndButton {
  margin-top: 27px;
  margin-bottom: 34px;
}

/* line 596, main.scss */
#sIcon2 {
  margin-bottom: 17px;
}

/* line 599, main.scss */
.socialIcon {
  margin-left: 26px;
}

/* line 603, main.scss */
#socialIconText {
  font-family: 'Corisande', sans-serif;
  font-size: 15px;
  margin-left: 42px;
  margin-top: 20px;
}

/* line 609, main.scss */
.LankaTimes_fotterLogo {
  position: absolute;
  margin-left: 182px;
  margin-top: -61px;
}

/* line 614, main.scss */
#fotterLogo {
  width: 163px;
  height: 73px;
}

/* line 618, main.scss */
#hotelFounder_subscribeField {
  background-color: #3a3a3a;
  height: 31px;
  width: 180px;
  outline: none;
  padding: 0px;
}

/* line 626, main.scss */
.sliderSocialIcon {
  position: absolute;
  top: 250;
}

/* line 632, main.scss */
.LankaTimes_location {
  background-image: url("../img/iconsSet.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  width: 215px;
  height: 31px;
  display: block;
}

/* line 641, main.scss */
.LankaTimes_mail {
  background-image: url("../img/iconsSet.png");
  background-position: 0 -31px;
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  display: block;
}

/* line 650, main.scss */
.LankaTimes_phone {
  background-image: url("../img/iconsSet.png");
  background-position: 0 -51px;
  background-repeat: no-repeat;
  width: 206px;
  height: 25px;
  display: block;
  margin-left: 62px;
}

/* line 660, main.scss */
.LankaTimes_web {
  background-image: url("../img/iconsSet.png");
  background-position: 0 -76px;
  background-repeat: no-repeat;
  width: 31px;
  height: 28px;
  display: block;
  margin-left: 62px;
}

/* line 670, main.scss */
#contactUsHeader {
  list-style: none;
  margin-top: 19px;
  margin-bottom: 15px;
  font-family: 'Corisande', sans-serif;
  font-size: 26px;
  color: white;
}
/* line 677, main.scss */
#contactUsHeader li {
  margin-left: 26px;
}

/* line 681, main.scss */
#sIcon3 {
  margin-bottom: 22px;
}

/* line 684, main.scss */
#sIcon4 {
  margin-bottom: 30px;
}

/* line 687, main.scss */
#colum {
  width: 180px;
  height: 98px;
  color: white;
}

/* line 692, main.scss */
.textColor {
  color: white;
}

/* line 695, main.scss */
#iconText {
  font-family: 'karbon', sans-serif;
  font-size: 14px;
  margin-left: 47px;
}

/* line 700, main.scss */
.specialId {
  margin-bottom: 10px;
}

/* line 711, main.scss */
.LankaTimes_faceBookIcon {
  background-image: url("../img/lankaTimeSprite.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  width: 12px;
  height: 27px;
  display: inline-block;
}

/* line 720, main.scss */
.LankaTimes_twitterIcon {
  background-image: url("../img/lankaTimeSprite.png");
  background-position: 0 -53px;
  background-repeat: no-repeat;
  width: 29px;
  height: 23px;
  display: inline-block;
}

/* line 728, main.scss */
.LankaTimes_googleIcon {
  background-image: url("../img/lankaTimeSprite.png");
  background-position: 0 -27px;
  background-repeat: no-repeat;
  width: 27px;
  height: 26px;
  display: inline-block;
}

/* line 736, main.scss */
.faceBookIcon {
  background-image: url("../img/icons2.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  width: 12px;
  height: 27px;
  display: block;
}

/* line 745, main.scss */
.twitterIcon {
  background-image: url("../img/icons2.png");
  background-position: 0 -53px;
  background-repeat: no-repeat;
  width: 29px;
  height: 23px;
  display: block;
}

/* line 754, main.scss */
.pinterest {
  background-image: url("../img/icons2.png");
  background-position: 0 -27px;
  background-repeat: no-repeat;
  width: 20px;
  height: 26px;
  display: block;
}

/* line 771, main.scss */
.sliderFacebookIcon {
  background-image: url("../img/icons2.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  width: 12px;
  height: 27px;
  display: inline-block;
}

/* line 780, main.scss */
.sliderTwitterIcon {
  background-image: url("../img/icons2.png");
  background-position: 0 -53px;
  background-repeat: no-repeat;
  width: 29px;
  height: 23px;
  display: inline-block;
}

/* line 789, main.scss */
.sliderPinterestIcon {
  background-image: url("../img/icons2.png");
  background-position: 0 -27px;
  background-repeat: no-repeat;
  width: 20px;
  height: 26px;
  display: inline-block;
}

/* line 797, main.scss */
#SliderfbIcon {
  margin-left: 77px;
  margin-right: 38px;
}

/* line 801, main.scss */
#SliderTwiIcon {
  margin-right: 38px;
}

/* line 804, main.scss */
#sliderPiIcon {
  margin-top: 19px;
}

/* line 807, main.scss */
.mainColum {
  height: 963px;
}

/* line 814, main.scss */
.tp-rightarrow.default {
  z-index: 100;
  cursor: pointer;
  position: relative;
  background: url(../assets/large_right.png) no-Repeat 0 0;
  width: 40px;
  height: 40px;
  opacity: 1;
}

/* line 831, main.scss */
#Infinity_Lanka_lable {
  line-height: 0.9;
  margin-bottom: 11px;
  margin-top: 11px;
}

/* line 836, main.scss */
.form-control {
  height: 36px;
  border-color: #969696;
  background-color: rgba(255, 255, 255, 0.29);
  padding: 0;
  width: 371px;
}

/* line 844, main.scss */
#Infinity_Lanka_contactUsTextArea {
  margin-bottom: 24px;
}

/* line 848, main.scss */
#Infinity_Lanka_contactUsSubmitButton {
  float: right;
  height: 35px;
  width: 98px;
  background-color: #ee8d00;
  font-family: 'karbon-medium' sans-serif;
  color: white;
  font-size: 15px;
  margin-right: 105px;
}

/* line 858, main.scss */
#Infinity_Lanka_contactUsForm {
  font-family: 'Corisande', sans-serif;
  font-size: 15px;
  color: #323131;
}

/* line 863, main.scss */
.infinty_lanka_map {
  height: 528px;
  width: 100%;
  border: 10px solid #ffffff;
  margin-top: -370px;
  z-index: 2000;
  position: relative;
}

/* line 872, main.scss */
#Infinity_Lanka_contactUsTextArea {
  height: 165px;
}

/* line 875, main.scss */
#mapFrame {
  -webkit-filter: grayscale(100%);
}

/* line 879, main.scss */
#mapContainer {
  padding: 0px;
  padding-bottom: 102px;
  padding-left: 0;
}

/* line 885, main.scss */
.LankaTimes_HeaderPicture {
  background-image: url("../img/Layer83.jpg");
  height: 100%;
}

/* line 891, main.scss */
.LankaTimes_fotterAboutUs {
  width: 100%;
  height: 636px;
  background-color: #3a3a3a;
  margin-top: -339px;
}

/* line 901, main.scss */
.LankaTimes_HeaderPictureContactUs {
  background-image: url("../img/Layer84.jpg");
  height: 100%;
}

/* line 905, main.scss */
#textContentContactUs {
  margin-top: 215px;
  font-family: 'karbon-medium' sans-serif;
  color: black;
  width: 823px;
  margin-left: -43px;
}
/* line 912, main.scss */
#textContentContactUs p {
  font-size: 14px;
  margin-bottom: 26px;
  text-align: justify;
}

/* line 918, main.scss */
.welcomeHeaderContactUs {
  font-family: 'Bebas', sans-serif;
  font-size: 37.89px;
  text-align: right;
  margin-top: 245px;
  margin-right: 20px;
  background: -webkit-linear-gradient(#525252, #303030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 930, main.scss */
.welcomeHeaderContactUs:after {
  content: "";
  width: 1px;
  height: 388px;
  position: absolute;
  top: 208px;
  left: 322px;
  background-color: #9b9b9b;
  display: block;
  box-shadow: 0px 10px 6px #888888;
}

/* line 944, main.scss */
#LankaTimesLogoContactUs {
  width: 200px;
  float: right;
  margin-right: 20px;
  margin-top: 38px;
}

/* line 950, main.scss */
.mainColumContactUs {
  width: 307px;
  height: 878px;
}

/* line 955, main.scss */
.LankaTimes_fotterContactUs {
  width: 100%;
  height: 636px;
  background-color: #3a3a3a;
  margin-top: -327px;
}

/* line 968, main.scss */
.infinty_lanka_ImageViewer {
  height: 528px;
  width: 100%;
  border: 10px solid #ffffff;
  margin-top: -370px;
  z-index: 2000;
  position: relative;
}

/* line 977, main.scss */
#imageContainer {
  padding: 0px;
  padding-bottom: 102px;
  padding-left: 0;
}

/* line 985, main.scss */
.LankaTimes_HeaderPictureGallery {
  background-image: url("../img/Layer83.jpg");
  height: 100%;
}

/* line 989, main.scss */
.gallerySmallImages {
  margin: 3px;
}
/* line 991, main.scss */
.gallerySmallImages:hover {
  transform: scale(0.9, 0.9);
  transition: all 0.4s ease-in-out;
  -webkit-transition: 1.3s ease;
  transition: 1.3s ease;
  opacity: 0.5;
  clip: rect(5px, 5px, 5px, 5px);
}

/* line 1003, main.scss */
.infinity_lanka_gallery {
  margin-top: 114px;
  margin-left: -39px;
}

/* line 1008, main.scss */
.second_field_gallery {
  margin-left: 3px;
}

/* line 1011, main.scss */
.third_field_gallery {
  margin-left: 6px;
}

/* line 1016, main.scss */
.fourth_field_gallery {
  margin-left: 1px;
  margin-top: 130px;
}

/* line 1021, main.scss */
.welcomeHeaderGallery {
  font-family: 'Bebas', sans-serif;
  font-size: 37.89px;
  text-align: right;
  margin-top: 203px;
  margin-right: 20px;
  background: -webkit-linear-gradient(#525252, #303030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 1033, main.scss */
.welcomeHeaderGallery:after {
  content: "";
  width: 1px;
  height: 290px;
  position: absolute;
  top: 162px;
  left: 322px;
  background-color: #9b9b9b;
  display: block;
  box-shadow: 0px 10px 6px #888888;
}

/* line 1047, main.scss */
#kl {
  width: 1090px;
  height: 508px;
}

@font-face {
  font-family: 'karbon-medium';
  src: url("../fonts/Karbon medium/karbon-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Karbon medium/karbon-medium-webfont.woff") format("woff"), url("../fonts/Karbon medium/karbon-medium-webfont.ttf") format("truetype"), url("../fonts/Karbon medium/karbon-medium-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: 'Bebas';
  src: url("../fonts/Bebas/Bebas.eot?") format("embedded-opentype"), url("../fonts/Bebas/Bebas.woff") format("woff"), url("../fonts/Bebas/Bebas.ttf") format("truetype");
}
@font-face {
  font-family: 'karbon';
  src: url("../fonts/karbon/karbon-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/karbon/karbon-regular-webfont.woff");
}
@font-face {
  font-family: 'KozGoPro';
  src: url("../fonts/KozGoPro/KozGoPro-ExtraLight-AlphaNum.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/KozGoPro/KozGoPro-ExtraLight-AlphaNum.woff");
  src: url("../fonts/KozGoPro/KozGoPro-ExtraLight-AlphaNums.ttf") format("truetype");
}
@font-face {
  font-family: 'Corisande';
  src: url("../fonts/Corisande/CorisandeLight.ttf") format("truetype");
}
@media (max-width: 994px) {
  /* line 1092, main.scss */
  #infinity_header_menu {
    position: absolute;
    z-index: 100000;
    top: 0px;
    width: 50%;
    height: 100%;
  }
  /* line 1099, main.scss */
  #infinity_header_menu .col-md-6 {
    padding: 0px;
  }
}
@media (max-width: 994px) {
  /* line 1109, main.scss */
  #logoImage {
    float: right;
    margin-right: 28px;
    margin-bottom: 39px;
    margin-top: 6px;
    height: 100;
    width: 100;
  }

  /* line 1119, main.scss */
  .welcomeText {
    margin-top: 185px;
    font-family: 'karbon-medium', sans-serif;
    font-size: 14px;
    /* margin-left: 25px; */
    text-align: justify;
    margin-bottom: 91px;
    color: #323131;
    width: 250px;
  }
}
@media (max-width: 1074px) {
  /* line 1131, main.scss */
  .welcomeText {
    margin-top: 185px;
    font-family: 'karbon-medium', sans-serif;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 91px;
    color: #323131;
    width: 500px;
  }

  /* line 1141, main.scss */
  .welcomeHeader:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 134px;
    left: 569px;
    background-color: #9b9b9b;
    display: block;
    box-shadow: 0px 10px 6px #888888;
  }
}
